﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleSuperTitle = "Portfolio";
    ViewBag.ArticleTitle = "Academia";
    ViewBag.PageTitleForSearchEnginesAndBrowserTabs = "Academic Portfolio";
}

<section>
    @Image.WithoutLightbox("pages_academic-portfolio_thesis-chart.png", altText: "Undergraduate Thesis Chart", maxWidth: "40%")
 
    <p>
        For a number of years early in adulthood, driven by folly and vanity, I pursued a career as a professor and research scientist. Though my two academic careers (in experimental
        psychology and international/comparative political science) were somewhat brief, they were, if judged by the myopic and misguided metrics of the profession, reasonably
        successful.
    </p>
</section>

<section>
    <h2>Experimental Psychology</h2>
    <p>
        Along with my collaborator and co-author Brady Reynolds (U. of Chicago, now at Ohio State), I planned and conducted a research program  on impulsive choice behavior at the US
        Centers for Disease Control (the CDC) in the National Institute for Occupational Safety and Health. My thesis, for which I wrote much of the psychometric data collection
        and analysis software myself, was the first experimental study to show that sleep deprivation causes a tendency in humans to make decisions more impulsively. Brady and
        I co-wrote a number of studies and theoretical papers on the subject of impulsivity and delay discounting (a field in behavioral economics that seeks to quantify impulsivity).
        A cursory inspection of the Internet informs me that to this day texts like the <i>Oxford Handbook of Impulse Controls Disorders</i> are still citing our work.
    </p>

    <p>
        I began my research career assisting in <a href="https://www.newharbinger.com/author/georg-h-eifert">Georg Eifert's</a> lab doing work related to Acceptance and Commitment
        Therapy, a subject in which I retain an interest to this day.
    </p>

    <h3>Selected Peer-reviewed Work</h3>
    <ul class="bulleted">
        <li><i>The Behavior Analyst</i> (2004): "<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2755405/">Impulsive Choice and Workplace Safety</a>," v27, pp 239-246.</li>
        <li><i>Behavioural Processes</i> (2004): "<a href="http://www.ncbi.nlm.nih.gov/pubmed/15518985">Measuring state changes in human delay discounting: an experiential discounting task</a>," v67(3), pp 343-356.    </li>
        <li><i>The Psychological Record</i> (2005): "<a href="http://opensiuc.lib.siu.edu/cgi/viewcontent.cgi?article=1195&context=tpr">Delay of Gratification and Delay Discounting: a Unifying Feedback Model of Delay-related Impulsive Behavior</a>," v55, pp 430-460.</li>
        <li>My thesis: "<a href="@Url.Asset("~/Assets/downloads/Thesis.pdf")">Impulsivity and the 'All-Nighter:' Combined Effects of Acute Sleep Deprivation and Circadian Low-Point on Discounting</a>" [PDF]</li>
    </ul>
</section>

<section>
    <h2>International and Comparative Politics</h2>
    <p>
        In my first and only work of scholarship in political science, I managed to uncover a somewhat salacious and hidden fact in contemporary British politics
        (that nearly half of the British House of Commons would like to see the monarchy abolished) and also to get myself published in one of the very top
        peer-reviewed journals in the field. Based on a year's worth of bleary-eyed late nights spent reading at the London School of Economics, my paper also included a long
        historical and theoretical review of British anti-monarchism.
    </p>
    <p>
        <i>Comparative Politics</i> (2011), "<a href="http://www.ingentaconnect.com/content/cuny/cp/2011/00000043/00000002/art00007">
            Monarchy and the British Political Elite: Closet Republicans in the House of Commons
            </a>," v43(2), pp 225-242. (<a href="@Url.Asset("~/Assets/downloads/UK-Republicanism-Paper.pdf")">Full text</a> [PDF].)
    </p>
</section>

<section>
    <h2>Meaningless awards</h2>
    <ul class="bulleted">
        <li><i>USA Today</i> All-USA College Academic Team</li>
        <li><a href="http://en.wikipedia.org/wiki/Phi_Beta_Kappa_Society">Phi Beta Kappa</a>, 4.0/4.0 GPA, etc.</li>
        <li>Named "outstanding senior" by the university-wide Honors Program, and by the departments of both of my majors (psychology and French).</li>
        <li>National finalist for Nobel Laureate Elie Wiesel's <i>Prize in Ethics</i></li>
    </ul>
</section>

<section>
    <h2>Odds and Ends</h2>
    <p>
        I was originally hired at the CDC, based on my prior technical background at NASA, to coordinate the technical aspects of and to write software for an eye-tracking laboratory
        for NIOSH. However, the White House <a href="http://www.whitehouse.gov/omb">OMB</a> canceled the project at the last minute on the grounds that the research would have
        required using mild deception (a common and necessary strategy in experimental psychology) on taxpayer participants. Fortunately, since the government
        rarely fires people, this meant I was freed up to start doing research related to my own interests.
    </p>

    <p>
        My research in London led me to enjoy a long and lazy chat with <a href="http://en.wikipedia.org/wiki/Tony_Benn">The Right Honourable Tony Benn</a> on the river
        terrace of the House of Commons, listening to him hold amusingly forth on the Queen's many vices.
    </p>

    <p>
        I once spent did a clinical practicum a psychiatric hospital, administering psychometric evaluations and (more interestingly) frequently observing
        human brain autopsies in the neuropathology department.
    </p>
</section>