﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.CssIDForBody = "biography";
    ViewBag.PageTitleForSearchEnginesAndBrowserTabs = "Biography - Ryan Norbauer";
}

<section>
    <p>
        <span class="opener-verb" style="font-weight:bold;">I am</span>
        <span class="opener-object" style="font-style:italic;">an aspiring underachiever.</span>
        <span class="details">
            I’ve worked for NASA, planned and conducted my own research at the CDC, and served as a
            foreign affairs analyst/speechwriter in the British Parliament; I founded, ran, and sold
            two separate software companies and one apparel company, and I have published peer-reviewed
            scholarship in leading journals across two separate academic disciplines. Other than the
            occasional unpredictable infusion of cash, lots of stress, and the ability to impress
            status-conscious morons with the preceding sentence, all that ambition and hard work got
            me very little.
        </span>
    </p>
</section>
<section>
    <p>
        <span class="opener-verb">I am</span>
        <span class="opener-object">pretty sure that</span>
        <span class="details">
            claiming to be "offended" is just a lazy way to tell another person to shut up
            without having to prove that what he said is false.
        </span>
    </p>
</section>

<section>
    <p>
        <span class="opener-verb">I love</span>
        <span class="opener-object">my two significant others Alan and Jeff.</span>
        <span class="details">
            I am bafflingly fortunate—though by no means worthy—to share both a life and a home with two gentlemen
            who are kind, brilliant, and beautiful beyond measure. To the extent that my existence has any meaning, it is
            in sharing it with them.
        </span>
    </p>
</section>

<section>
    <p>
        <span class="opener-verb">I was</span>
        <span class="opener-object">trained as a scientist</span>
        <span class="details">
            specializing in the rigorously empirical, dispassionate,
            and quantitative study of animal behavior, including that of humans.
        </span>
    </p>
</section>

<section>
    <p>
        <span class="opener-verb">I've lived</span>
        <span class="opener-object">in London, New York, France, and Boston.</span>
        <span class="details">
            I now have a house in Central Square in Cambridge, Massachusetts—right between Harvard and MIT.
        </span>
    </p>
</section>

<section>
    <p>
        <span class="opener-verb">I speak</span>
        <span class="opener-object">English and French.</span>
    </p>
</section>

<section>
    <p>
        <span class="opener-verb">I code</span>
        <span class="opener-object">C#, Ruby, CSS/HTML, ASP.NET MVC, and PHP.</span>
    </p>
</section>

<section>
    <p>
        <span class="opener-verb">I am</span>
        <span class="opener-object">Founder and President Emeritus of <a href="http://www.norbauer.com/rails-consulting">Norbauer Inc</a>,</span>
        <span class="details">
            a global web software consulting firm, acquired by another firm in 2008. We
            were a team of over twenty software architects, engineers, and designers with offices in Boston,
            New York, and New Delhi. In my capacity as CEO, I was cited in <em>Wired</em>, <em>Forbes</em>, and many other venues.
            We built bespoke server software for clients ranging from Yale University, Microsoft, Harvard, and AMD to a wide variety of tech
            start-ups and international businesses.
        </span>
    </p>
</section>

<section>
    <p>
        <span class="opener-verb">I enjoy</span>
        <span class="opener-object">
            yoga, French phonetics, Star Trek (mostly TNG and VOY), fussy coffee and tea, world-weary pessimism,
            and protracted auto-didactic deep-dives on technical subjects (from digital photographic post-processing to high-end computer keyboard
            manufacturing to software language specs).
        </span>
    </p>
</section>

<section>
    <p>
        <span class="opener-verb">I frequently read</span>
        <span class="opener-object">books.</span>
        <span class="details">
            I'm especially attached to the works of Michel Houellebecq, Kurt Vonnegut, Richard Dawkins, HP Lovecraft, Steven Pinker,
            EM Cioran, Gene Roddenberry, Alain de Botton, Cyril Connolly, and Albert Camus.
        </span>
    </p>
</section>

<section>
    <p>
        <span class="opener-verb">I am</span>
        <span class="opener-object">pretty sure that</span>
        <span class="details">
            Not only are all religions manifestly false, but so too are all the secular narratives (humanism, positivism,
            liberalism, libertarianism) that, like religions, attempt to craft a system of positive values out of the
            epistemologically questionable notion that something can be transcendently and meaningfully true merely because
            it would be nice if that were the case. Reasoning by appeal to platitude or an implausible alternate-universe
            utopia is not reasoning at all.
        </span>
    </p>
</section>

<section>
    <p>
        <span class="opener-verb">I am</span>
        <span class="opener-object">founder of <a href="http://www.lovetastic.com" title="Lovetastic: Gay relationship personals">Lovetastic.com</a></span>
        <span class="details">
            The first major online community for gay men to challenge the tired tropes of gay culture, providing a more aesthetically palatable (and less vapid)
            alternative to the various "scenes" that previously existed for gay men to meet and form friendships—or fall in love. Founded in 2004, our
            offices moved to Manhattan in 2005 when we obtained investor funding. During that time, we won laudatory national press ranging from outlets
            like <i>The San Francisco Chronicle</i> to the <i>Boston Globe</i>. In 2010, Lovetastic became a part of <a href="http://www.okcupid.com/lovetastic">OKCupid</a>.
        </span>
    </p>
</section>

<section>
    <p>
        <span class="opener-verb">I was</span>
        <span class="opener-object">born in West Virginia</span>
        <span class="details">
            I'm actually in overalls, chawing on a reed of hay as I write this.
        </span>
    </p>
</section>

<section>
    <p>
        <span class="opener-verb">I am</span>
        <span class="opener-object">creator of <a href="http://www.rubyrags.com" title="Ruby on Rails t-shirts">RubyRags</a></span>
        <span class="details">
            Maker of nerd apparel, acquired by the the Ruby on Rails design firm <a href="Ruby on Rails consulting firm LittleLines">LittleLines</a> in 2010.
        </span>
    </p>
</section>

<section>
    <p>
        <span class="opener-verb">I am</span>
        <span class="opener-object">pretty sure that</span>
        <span class="details">
            everything is fairly easy. Most of what passes for intelligence is just persistence and a high tolerance for boredom
            (both of which may technically be the same thing).
        </span>
    </p>
</section>