﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleSuperTitle = "Portfolio";
    ViewBag.ArticleTitle = "Business";
}

<section>
    <p>This page contains some more details concerning the history and long evolution of my Lovetastic project, which is explained in greater detail in my @Html.PageLink("business portfolio", "business-portfolio").</p>
</section>

<section>
    <h2>Press</h2>

    <p>
        We were profiled and mentioned in many national publications, including <i>The Boston Globe</i>, <i>The San Francisco Chronicle</i>, <i>TechCrunch</i>, the <i>metro</i> paper, etc.
        Here is an example of one of the earliest pieces written about us—in this case (of all places) in a trashy, though very popular, NYC gay magazine:
    </p>

    @Image.WithoutLightbox("pages_business-portfolio-lovetastic-details_hx-magazine-profile.png", altText: "Scanned HX Magazine article on Lovetastic", maxWidth: "60%", wrapInSelfLink: true)

    <p>An interview I did with tech journalist Leo Laporte can be heard <a href="http://twit.tv/show/netnight-amber-and-leo/36">here</a>.</p>

    <p>
        This is what <a href="http://techcrunch.com/2006/10/11/eight-social-networking-sites-for-men-who-love-men/"><i>TechCrunch</i></a> had to say about us: "Lovetastic’s interface is the cleanest, simplest and easiest on the eyes of any of [its competitors]. In some ways it’s
        got more class than any of them."
    </p>

    <p><i>The Onion</i> sponsored us to throw a Valentine's Party in Manhattan, which for some reason always amused and pleased me. Here is the notice as it appeared in their pages:</p>

    @Image.WithoutLightbox("pages_business-portfolio-lovetastic-details_the-onion-party.jpg", altText: "scanned Onion ad", maxWidth: "60%")

</section>

<section>
    <h2>Screen captures</h2>
    
    <h3>Scene404</h3>
    
    @Image.WithoutLightbox("pages_business-portfolio-lovetastic-details_scene404-philosophy-landing-page.png", wrapInSelfLink: true)
    @Image.WithoutLightbox("pages_business-portfolio-lovetastic-details_scene404-how-does-our-philosophy-translate.png", wrapInSelfLink: true)
    
    <h3>Lovetastic</h3> 
    
    @Image.WithoutLightbox("pages_business-portfolio-lovetastic-details_lovetastic-landing-page.png", wrapInSelfLink: true)
    @Image.WithoutLightbox("pages_business-portfolio-lovetastic-details_lovetastic-search-input-box.png", wrapInSelfLink: true)
    @Image.WithoutLightbox("pages_business-portfolio-lovetastic-details_lovetastic-search-results.png", wrapInSelfLink: true)

    <h3>OKCupid</h3>
    
    @Image.WithoutLightbox("pages_business-portfolio-lovetastic-details_okcupid-julian.png", wrapInSelfLink: true)
    @Image.WithoutLightbox("pages_business-portfolio-lovetastic-details_okcupid-lovetastic-landing-page.png", wrapInSelfLink: true)

</section>
