﻿@{
    ViewBag.ArticleTitle = "Contact";
}

<blockquote>
    <p>Have you lost your mind? Why on earth would you even fantasize about such a thing? What could I offer you but a bad temper, hypochondriasis, morbid fixations, reclusive rages, and misanthropy? I have no desire&hellip;to be anything but isolated from the world. </p>
    <p class="attribution">Boris Yellnikoff, <a href="http://www.amazon.com/gp/product/B002LMV7QG/ref=as_li_ss_tl?ie=UTF8&amp;tag=8gj38kd-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399373&amp;creativeASIN=B002LMV7QG"><i>Whatever Works</i></a></p>
</blockquote>

<p>That being said, the odd friendship or correspondence based on shared subjectivity can from time to time, and in limited doses, be rewarding. Overtures toward that end may be directed to
<script type="text/javascript">eval(decodeURIComponent('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%72%79%61%6e%40%6e%6f%72%62%61%75%65%72%2e%63%6f%6d%22%3e%72%79%61%6e%40%6e%6f%72%62%61%75%65%72%2e%63%6f%6d%3c%2f%61%3e%27%29%3b'))</script>.</p>