﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleSuperTitle = "Notebook";
    ViewBag.ArticleTitle = "Culinary";
    ViewBag.CssIDForBody = "article-listing";
}

<section class="image-links flexbox">
    <h2>Nougat de Montélimar</h2>
    <ul>
        <li>@ArticleListItem.Link("Introduction and Curriculum", "nougat-de-montelimar-in-detail")</li>
        <li>@ArticleListItem.Link("Equipment and Workspace Prep", "nougat-de-montelimar-equipment-and-workspace-prep")</li>
        <li>@ArticleListItem.Link("Theory and Variations", "nougat-de-montelimar-theory-and-variations")</li>
        <li>@ArticleListItem.Link("The Recipe", "nougat-de-montelimar-recipe")</li>
        <li>@ArticleListItem.Link("Tips and Tricks", "nougat-de-montelimar-tips-and-tricks")</li>
        <li>@ArticleListItem.Link("Short-form Recipe", "nougat-de-montelimar-short-form-recipe")</li>
    </ul>
</section>