﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleSuperTitle = "Technical";
    ViewBag.ArticleTitle = "Digital Creative Tools";
    ViewBag.CssIDForBody = "article-listing";
}

<section class="image-links">
    <h2>Photoshop</h2>
    <ul>
        <li>@ArticleListItem.Link("Blotty Ink Pen Brush Preset Library for Photoshop", "blotty-ink-pen-brush-preset-library-for-photoshop")</li>
        <li>@ArticleListItem.Link("Engineering Blotty Brushes in Photoshop", "engineering-blotty-brushes-part-1-brushes-in-photoshop")</li>
        <li>@ArticleListItem.Link("Engineering Blotty Brushes in Photoshop, Part II: Building the Presets", "engineering-blotty-brushes-part-2-building-the-presets")</li>
    </ul>
</section>