﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    Layout = "~/Views/Shared/Layouts/_landing-page.cshtml";
}
<header>
    <div class="flex-grid">
        <h1>
            <span class="name-part"><span class="black-background">Ryan</span></span>
            <span class="name-part"><span class="black-background">Norbauer</span></span>
        </h1>

        <div id="portrait">
            <img src="@Url.Asset("~/Assets/images/ryan-square-portrait.jpg")" />
        </div>
    </div>
</header>
<nav>
    @RenderPage("~/Views/Shared/Partials/_nav-list.cshtml")
</nav>
<footer>
    <h3>Follow me, as it were.</h3>
    <a href="https://dribbble.com/norbauer"><img src="@Url.Asset("~/Assets/images/social-media-icons-dribble.svg")" alt="Dribble" /></a>
    <a href="https://www.flickr.com/photos/25354160@N06/"><img src="@Url.Asset("~/Assets/images/social-media-icons-flickr.svg")" alt="Flickr" /></a>   
    <a href="https://twitter.com/RyanNorbauer"><img src="@Url.Asset("~/Assets/images/social-media-icons-twitter.svg")" alt="Twitter" /></a>
    <a href="http://stackoverflow.com/users/1220221/ryan-norbauer"><img src="@Url.Asset("~/Assets/images/social-media-icons-stackoverflow.svg")" alt="StackOverflow" /></a>
    <a href="http://norbauer.tumblr.com"><img src="@Url.Asset("~/Assets/images/social-media-icons-tumblr.svg")" alt="Tumblr" /></a>
    <a href="http://www.pinterest.com/norbauer/"><img src="@Url.Asset("~/Assets/images/social-media-icons-pinterest.svg")" alt="Pinterest" /></a>
</footer>

<blockquote class="emphasis">
    <p><span class="emphasized_opener">The cosmos</span>, child, is simply a perpetual rearrangement of electrons which is constantly seething as it always has been and always will be. Our tiny globe and puny thoughts are but one momentary incident in its eternal mutation; so that the life, aims, and thoughts of mankind are of the utmost triviality and ridiculousness. We are conscious by accident, and during the unfortunate instant that we are so, it behooves us only to mitigate our pain and pass our time as agreeably as we may.</p>
    <p class="attribution">Howard Phillips Lovecraft</p>
</blockquote>

<img id="emblem" src="@Url.Asset("~/Assets/images/emblem.svg")" />