﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleSuperTitle = "Portfolio";
    ViewBag.ArticleTitle = "WTF?";
    ViewBag.PageTitleForSearchEnginesAndBrowserTabs = "Portfolio";
}

<section>
    <p>
        It would be reasonable to inquire why a self-described "aspiring underachiever" with an express contempt for status jockeying would stick a portfolio of his
        work on the Internet.
    </p> 
    
    <p>
        While I'm sure it would be inaccurate to suggest that my motives were entirely untainted by any desire to be liked or thought
        interesting, in my defense I will also add that this portfolio is also, if not primarily, simply an excuse to be lazy. Sometimes when meeting new
        potential friends or creative collaborators, I find that people want to know about my past work, and having a portfolio online saves me having to explain it all from
        scratch every time.
    </p>
    
    <p>Here are the domains in which I could thus far be bothered to compile an account of my prior doings:</p>
    
    <ul class="bulleted">
        <li>@Html.PageLink("Business", "business-portfolio")</li>
        <li>@Html.PageLink("Academia", "academic-portfolio")</li>
    </ul>
</section>