﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleSuperTitle = "Notebook";
    ViewBag.ArticleTitle = "Travel";
    ViewBag.CssIDForBody = "article-listing";
}

<section class="image-links flexbox">
    <h2>Travel Guides</h2>
    <ul>
        <li>@ArticleListItem.Link("The Third-Wave Coffee Tour of Portland, OR", "third-wave-coffee-tour-of-portland-oregon")</li>
        <li>@ArticleListItem.Link("HP Lovecraft Walking Tour of Providence", "hp-lovecraft-walking-tour-of-providence")</li>
        @*
        <li>@ArticleListItem.Link("Tour of \"Lovecraft Country\" (Massachusetts North Shore)", "lovecraft-country-tour")</li>
        <li>@ArticleListItem.Link("H.P. Lovecraft Tour of Boston", "hp-lovecraft-tour-of-boston")</li>
        *@
    </ul>
</section>