﻿@french-gray: #dddddc;
@light-french-gray: #E6E6E6;
@dark-french-gray: #919191;
@default-background-color: white;
@foreground-color-to-contrast-with-default-background-color: black;

#Colors {

    .dividing-line-border-color {
        border-color: @french-gray;
    }

    .default-background-color {
        background-color: @default-background-color;
    }

    .background-color-to-contrast-with-default-background-color {
        background-color: #888;
    }

    .color-for-text-against-background-color-to-constrast-with-default-background-color {
        color: white;
    }

    .background-color-that-constrasts-lightly-with-default-background-color {
        background-color: @light-french-gray;
    }

    .color-for-text-against-background-color-that-constrasts-lightly-with-default-background-color {
        color: @dark-french-gray;
    }

    .default-text-color {
        color: black;
    }
}