﻿@import "..\AggregatedImports.less";

#Images {
    .images-with-portrait-orientation {
        
        img.portrait-orientation {
            max-width: 50%;
        }

        div.side-by-side-images {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            // override the normal figure behavior
            figure img {
                max-width: none;
            }

            img {
                max-width: 48%;
            }
        }        
    }
}