﻿@import "..\AggregatedImports.less";

#Layout {
    // Useful when you need to center a flex container but want its width to be the size of its children (and no larger).
    // Just put it inside a block element with text-align set to center.
    .inline-flex-container {
        display: inline-flex;
        display: -ms-inline-flex;
        display: -webkit-inline-flex;
    }

    .flex-container {
        display: flex;
        display: -ms-flex;
        display: -webkit-flex;
    }
}