﻿@paragraph-spacing: 2rem;
@paragraph-indent-size: 3rem;
@text-column-width: 40rem;

#SizeAndSpacing {
    .body-text-line-height {
        line-height: 1.9rem;
    }

    .content-region-with-padding-so-that-content-does-not-abut-bottom-of-scrollable-region {
        padding-bottom: 10rem;
    }

    .centered-within-parent {
        display: block; // margin:auto doesn't work on inline elements like images.
        margin-right: auto;
        margin-left: auto;
    }

    .column-of-text-for-reading {
        max-width: @text-column-width;
    }

    .paragraph-spacing {
        margin-bottom: @paragraph-spacing;
    }

    .max-width-almost-all-of-parent-but-not-abutting-edges {
        // Take up most of the viewable area, but don't run all the way to the edge.        
        max-width: 80%;
    }
}