﻿@import "..\AggregatedImports.less";

@body-font-family: 'Mercury SSm A', 'Mercury SSm B', Georgia, "Times New Roman", Times, serif;
@sans-serif-font-family: "Whitney SSm A", "Whitney SSm B", "Segoe UI", Helvetica, Arial, Sans-Serif;
@titling-font-family: 'Didot 16 A', 'Didot 16 B', Cambria, Georgia, "Times New Roman", Times, serif;
@alternate-titling-font-family: 'Chronicle Display A', 'Chronicle Display B', Georgia, Cambria, "Times New Roman", Times, serif;
@monospace-font-family: Consolas, "Courier New", Courier, monospace;
// "Gotham subhead" includes only uppercase letters.
@subtitling-font-family: 'Gotham subhead A', 'Gotham subhead B', "Segoe UI", Helvetica, Arial, Sans-Serif;
// "Gotham cosmos" includes only uppercase letters [T,H,E,C,O,S,M,O,S].
@landing-page-blockquote-opener-font-family: 'Gotham cosmos A', 'Gotham cosmos B', "Segoe UI", Helvetica, Arial, Sans-Serif;

// All fonts used in the site should be listed here so that we can scope
// the typography.com fonts suite to only those fonts actually used.
#Typography {
    .base-font {
        font-weight: 300;
        font-style: normal;
    }

    .body-font {
        .base-font;
        font-family: @body-font-family;
    }

    .titling-font {
        .base-font;
        font-family: @titling-font-family;
        font-style: italic;
    }

    .supertitling-font {
        .base-font;
        font-family: @titling-font-family;
        font-style: normal;
    }

    .subtitling-font {
        font-family: @subtitling-font-family;
    }

    .alternate-titling-font {
        .base-font;
        font-family: @alternate-titling-font-family;
        font-weight: 300;
    }

    .interface-font-light {
        .base-font;
        font-family: @sans-serif-font-family;
    }

    .interface-font-book {
        .interface-font-light;
        // Believe it or not, there actually is a perceptible
        // difference compared to 300 weight.
        font-weight: 400;
    }

    .blockquote-opener {
        font-family: @landing-page-blockquote-opener-font-family;
        font-weight: 700;
    }

    .caption-font {
        .interface-font-light;
        font-style: italic;
        font-size: 0.8rem;
        color: @dark-french-gray;
    }
}