﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleSuperTitle = "Photography";
    ViewBag.ArticleTitle = "About";
    ViewBag.PageTitleForSearchEnginesAndBrowserTabs = "Photography";
}

<section>
    @Image.WithLightbox("photography_about_birds_in_smithsonian_garden_fountain.jpg", maxWidth: "80%")

    <p>
        Photography has been an obsessive interest of mine for several years, which I endeavor to pursue to a professional standard even though I don't do commercial work.
        For me, photography is a compelling mix of visual aesthetics, arcane technical minutiae, and an excuse to play with well-crafted technological toys (three of my favorite things).
    </p>

    <p>
        I have a special interest in digital image processing, having spent hundreds of hours methodically and formally studying Photoshop, Adobe Camera Raw, and Lightroom—both their
        operation and theoretical underpinnings. Color toning/grading and the frequency-separation retouching technique are particular fascinations of mine.
    </p>

    <p>
        Random quotidian snaps can be found on my <a href="https://www.flickr.com/photos/25354160@N06/">Flickr page</a>. I also maintain a portfolio of selected work
        here on this site.
    </p>

    <p>
        I reblog photography by others that I particularly like on <a href="http://norbauer.tumblr.com/">my Tumblr</a>.
    </p>

    <p>
        My favorite genre is @Html.RouteLink("portraiture", "Photography", new { slug = "portraits" }). If you live in the Boston/Cambridge area and
        would like to have an artistic portrait made (gratis, of course), by all means @Html.PageLink("drop me a note", "contact"); I'm always happy to have the excuse to practice.
    </p>
</section>
