﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleSuperTitle = "Photography";
    ViewBag.ArticleTitle = "Projects";
    ViewBag.CssIDForBody = "article-listing";
    ViewBag.PageTitleForSearchEnginesAndBrowserTabs = "Photographic Projects";
}

<section class="image-links">
    <h2>Workplaces</h2>
    <p>
        I have always been fascinated by places of productivity—offices, laboratories, factories; I love it all. In this project, I study the places where people, build, write,
        make, and learn.
    </p>
    <ul>
        <li>@ArticleListItem.Link("Scott Kemp (M.I.T.)", "scott-kemp", "Photography")</li>
    </ul>
</section>