﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleSuperTitle = "Photography";
    ViewBag.ArticleTitle = "Scott Kemp <i>(M.I.T.)</i>";
    ViewBag.ArticleSubTitle = "Workplaces";
    ViewBag.CSSIDForMainElement = "photography-portfolio";
}

<section class="photographs">
    
    @for (int photoNumber = 1; photoNumber <= 14; photoNumber++)
    {
        String filename = String.Format("~/Assets/images/content/photography_scott-kemp_{0}.jpg", photoNumber);
        @Image.WithLightbox(filename)
    }

</section>