﻿@import "..\AggregatedImports.less";

#a {
    // my signature border-bottom underline for links
    .link {
        .link-rules(inherit);
    }

    .link(@colorForLink) {
        .link-rules(@colorForLink)
    }

    .link-rules(@colorForLink) {
        border-bottom: 1px #ccc solid;
        text-decoration: none;
        padding-bottom: 1px;
        color: inherit;
    }

    .blanklink {
        .blanklink-rules(inherit);
        &:visited, &:hover, &:active {
            .blanklink-rules(inherit);
        }
    }

    .blanklink(@colorForLink) {
        .blanklink-rules(@colorForLink);
        &:visited, &:hover, &:active {
            .blanklink-rules(@colorForLink);
        }
    }

    .blanklink-rules(@colorForLink) {
        color: @colorForLink;
        text-decoration: none;
        border-bottom: none;
        padding: 0;
        margin: 0;
    }
}

a {
    #a > .link;
    &:visited, &:hover, &:active {
        #a > .link;
    }

    &.contains-image, &.contains-portrait-orientation-image { // workaround for images containing links
        #a > .blanklink;
    }

    img { // override browsers that put a hideous blue border around images in links
        border: none;
    }
}