﻿@import "..\AggregatedImports.less";

blockquote {
  #Typography > .body-font;
  #SizeAndSpacing > .column-of-text-for-reading;
  padding-left: @paragraph-indent-size;
  padding-right: @paragraph-indent-size;

    p {
        text-align: justify;
     
        &.attribution {
            font-style: italic;
            text-align: right;
            color: #777;
            i, em {
                font-style: normal;
            }
            a {
                #a > .link(#777);
                &:visited, &:hover, &:active {
                    #a > .link(#777);
                }
            }

        }
    }
}