﻿@import "..\AggregatedImports.less";

figcaption {
    #Typography > .caption-font;
    a {
        #Typography > .caption-font;    
        &:visited, &:active {
            #Typography > .caption-font;
        }
    }    
}