﻿@import "..\AggregatedImports.less";

.list(@style-type) {
    #SizeAndSpacing > .body-text-line-height;
    #Typography > .body-font;
    margin-bottom: @paragraph-spacing;
    text-align: left;
    list-style-type: @style-type;
    li {
        margin-bottom: 1rem;
        span.note {
            #Typography > .caption-font;
            display: block;
            line-height: 1.5rem;
            a, a:visited, a:active {
                #Typography > .caption-font;
            }
        }
    }
}

ul.bulleted {
    .list(disc);
}

ol.numbered {
    .list(decimal);
}

