﻿@import "..\AggregatedImports.less";

body.content-page {
    // Creates the overall layout of the page (division between div and content sections).
    div#flex-container {
        display: flex;
    }

    nav {
        #Media > #Print > .hide;

        flex: 1.5;
        #Colors > .background-color-that-constrasts-lightly-with-default-background-color;
        // Take up at least the whole viewport
        min-height: 100vh;
        border-width: 0;
        border-right-width: 1px;
        border-style: solid;
        min-width: 12rem;
        max-width: 19rem;
        #Colors > .dividing-line-border-color;
        // Nav header ("RN")
        header {
            display: block;
            text-align: center;

            h1.initials {
                #Typography > .titling-font;
                font-size: 3rem;
                #SizeAndSpacing > .centered-within-parent;
                @spacing-above-and-below-initials: 5rem;
                margin-top: @spacing-above-and-below-initials;
                margin-bottom: @spacing-above-and-below-initials;
                #Colors > .color-for-text-against-background-color-that-constrasts-lightly-with-default-background-color;

                a {
                    #Typography > .titling-font;
                    #a > .blanklink(@dark-french-gray);
                }
            }
        }
        // nav section (link grouping/category)
        section {
            #SizeAndSpacing > .centered-within-parent;
            margin-bottom: 2rem;
            width: 80%;
            text-align: center;
            @nav-font-size: 0.8rem;

            // Category title
            h2 {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                #Colors > .dividing-line-border-color;
                text-transform: uppercase;
                #Typography > .interface-font-book;
                font-size: @nav-font-size;
                margin-bottom: @nav-font-size / 2;
                padding-bottom: @nav-font-size / 2;
                color: @dark-french-gray;
            }
            // List of links within each nav section.
            ul {
                margin-bottom: 4rem;

                li {
                    margin-bottom: @nav-font-size / 2;

                    .contentPageNavLink() {
                        text-transform: lowercase;
                        font-size: @nav-font-size;
                        #Typography > .interface-font-light;
                        #a > .blanklink(@dark-french-gray);
                    }

                    a {
                        .contentPageNavLink();

                        &:hover {
                            color: #52514C;
                        }
                    }
                }
            }
        }
    }

    div.content {
        flex: 8.5;
        @large-vertical-spacing-gap: 5rem;
        padding-top: @large-vertical-spacing-gap;
        padding-top: @large-vertical-spacing-gap;
        @media print { padding-top: none; }

        img#emblem {
            width: 7rem;
            height: 7rem;
            #Media > #Print > .hide;

            #SizeAndSpacing > .centered-within-parent;
        }

        article {
            // With spiffy French packaging-style headline double border.
            header {
                #Colors > .dividing-line-border-color;
                @media print {
                    border: none;
                }

                border-style: solid;
                border-width: 5px 0;
                padding: 4px 0;
                text-align: center;
                margin: @large-vertical-spacing-gap 0;
                @media print { margin: 0; }

                div#headline {
                    #Colors > .dividing-line-border-color;    
                    @media print {
                        border: none;
                    }
                    border-style: solid;
                    border-width: 1px 0;
                    // Padding between border lines and headline text.
                    padding: 2.5rem 0;

                    h1 {
                        #Typography > .titling-font;
                        font-size: 2.6rem;
                    }
                        // Since italic is our default, we'll reverse italics.
                        h1 i {
                            font-style: normal;
                        }

                    h2.article-supertitle {
                        #Typography > .supertitling-font;
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        margin-bottom: 1rem;
                        font-style: normal;
                    }

                    h3.article-subtitle {
                        #Typography > .subtitling-font;
                        margin-top: 1rem;
                    }
                }
            }

            main {
                #SizeAndSpacing > .centered-within-parent;
                #SizeAndSpacing > .column-of-text-for-reading;
                #SizeAndSpacing > .content-region-with-padding-so-that-content-does-not-abut-bottom-of-scrollable-region;

                section {
                    margin-bottom: 5rem;
                    text-align: center;

                    h2 {
                        #Typography > .subtitling-font;
                        font-size: 1.2rem;
                        letter-spacing: 0.1rem;
                        padding: 1rem 0;
                        border-bottom-width: 3px;
                        border-bottom-style: solid;
                        #Colors > .dividing-line-border-color;
                        text-transform: uppercase;
                        margin: 5rem 0 1rem 0;
                        text-align: left;
                    }

                    h3 {
                        #Typography > .subtitling-font;
                        font-size: 1rem;
                        padding: 1rem 0;
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        #Colors > .dividing-line-border-color;
                        text-transform: uppercase;
                        margin: 1rem 0;
                        text-align: left;
                    }

                    h4 {
                        #Typography > .body-font;
                        font-size: 1rem;
                        padding: 0.5rem 0;
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        #Colors > .dividing-line-border-color;
                        margin: 5rem 0 1rem 0;
                        text-align: left;
                        font-weight: bold;
                    }

                    h5 {
                        #Typography > .body-font;
                        font-size: 1rem;
                        padding: 0.5rem 0;
                        border-bottom-width: 1px;
                        border-bottom-style: dashed;
                        #Colors > .dividing-line-border-color;
                        margin: 2.5rem 0 1rem 0;
                        text-align: left;
                    }

                    p.information-supplemental-to-header {
                        font-style: italic;
                    }

                    img, figure {
                        max-width: @text-column-width;
                        #SizeAndSpacing > .paragraph-spacing;
                    }

                    #Images > .images-with-portrait-orientation;

                    figure {
                        
                        img {
                            margin-bottom : 0;
                        }

                        figcaption {
                            text-align: end;
                            margin-top: 0.5rem;
                        }

                        &.portrait-orientation figcaption {
                            text-align: center;
                        }
                        
                    }

                    figure.screenshot_elucidating_preceding_paragraph_in_the_context_of_a_tutorial {
                        text-align: left;
                        margin-top: -@paragraph-spacing;
                        margin-bottom: @paragraph-spacing;
                        img {
                            // overrides the paragraph-spacing margin-bottom set on all images above.
                            margin-bottom: 0;
                        }
                        figcaption {
                            #Typography > .caption-font;
                            text-align: left;
                        }
                    }

                    ul.bulleted, ol.numbered {
                        li {
                            margin-left: @paragraph-indent-size;
                            margin-right: @paragraph-indent-size;
                        }
                        img {
                            max-width: 100%;
                            margin: 0.25rem 0;
                        }
                        #Images > .images-with-portrait-orientation;
                    }

                }
            }

            main.photography-portfolio {
                #Components > .image-gallery;
            }
        }
    }
}

