﻿@import "..\AggregatedImports.less";

// This page is fairly one-off, so very little of it is abstracted away into imported modules.
body.landing-page {
    #SizeAndSpacing > .content-region-with-padding-so-that-content-does-not-abut-bottom-of-scrollable-region;
    text-align: center;

    header {
        margin-top: 8.5rem;
        text-align: center;

        div.flex-grid {
            #Layout > .inline-flex-container;
            @spacing-around-image: 0.625rem;

            // "Ryan Norbauer"
            h1 {
                margin-right: @spacing-around-image;
                margin-top: @spacing-around-image;

                span {
                    #Typography > .titling-font;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }
                // This has to be doubly-nested spans because you can't put a div inside an h1.
                // <span class="name-part"><span class="black-background">Ryan</span></span>
                span.name-part {
                    display: block;
                    margin-bottom: 0.3rem;
                    text-align: right;
                }
            }

            span.black-background {
                // This is so that the outer edges of the black background affect the borders of the containing element.
                // As the default inline style, the black borders hang off the edges and don't affect margins, causing
                // the text in the name-part span to control the borders of the element for margin purposes.
                display: inline-block;
                background-color: @foreground-color-to-contrast-with-default-background-color;
                padding: 0.2rem @spacing-around-image;
                color: @default-background-color;
                // This is to add 1px so that it's pushed down from the top of the container the same amount
                // as the neigboring image with its 1px border and same padding.
                border-color: @foreground-color-to-contrast-with-default-background-color;
                border-style: solid;
                border-top-width: 1px;
                border-bottom-width: 1px; // and this just for symmetry.
            }

            div#portrait {
                img {
                    padding: 0.625rem;
                    #Colors > .dividing-line-border-color;
                    border-width: 1px;
                    border-style: solid;
                }
            }
        }
    }

    nav {
        @margin-on-bottom-of-sections: 5rem;
        width: 80%;
        margin: 8rem auto -@margin-on-bottom-of-sections auto;
        padding-left: 4rem; // to compensate slightly for perceptual asymmetry created by the large image and small "Ryan Norbauer" text.
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        section {
            margin: 0 2rem @margin-on-bottom-of-sections 0;
            text-align: left;
        }

        h2 {
            #Typography > .titling-font;
            padding-left: 1rem;
            margin-bottom: 1.25rem;
            border-bottom: 5px solid #DDDDDC;
            text-transform: uppercase;
            width: 16rem;   
            font-size: 1.5rem;
        }

        ul {
            li {
                margin-bottom: 0.5rem;
                padding-left: 1rem;
                text-transform: lowercase;
            }
        }

        .landingPageNavLink() {
            border-bottom: none;
            text-decoration: none;
            font-family: 'Didot 16 A', 'Didot 16 B';
            font-weight: 300;
            font-style: italic;
            font-size: 1.3rem;
        }

        a {
            .landingPageNavLink();

            &:visited, &:active {
                .landingPageNavLink();
            }
        }
    }

    footer {
        margin-top: 10rem;
        #Colors > .background-color-to-contrast-with-default-background-color;
        padding: 1.5rem 0;
        
        a {
            #a > .blanklink;
        }

        h3 {
            #Typography > .interface-font-light;
            color: @default-background-color;
            font-size: 0.85rem;
            margin-bottom: 0.8rem;
        }

        img {
            display: inline;
            
            @footer-social-icon-height-and-width: 1.8rem;
            width: @footer-social-icon-height-and-width;
            height: @footer-social-icon-height-and-width;

            @one-half-distance-between-social-icons: 0.5rem;
            margin-left: @one-half-distance-between-social-icons;
            margin-right: @one-half-distance-between-social-icons;
        }
    }

    blockquote {
        #SizeAndSpacing > .centered-within-parent;
        @spacing-before-and-after-lovecraft-blockquote: 15rem;
        margin-top: @spacing-before-and-after-lovecraft-blockquote;
        margin-bottom: @spacing-before-and-after-lovecraft-blockquote;

        span.emphasized_opener {
            #Typography > .blockquote-opener;
            text-transform: uppercase;
        }
    }

    img#emblem {
        width: 3rem;
        height: 3rem;
    }
}