﻿@import "..\AggregatedImports.less";

// We're generally here just providing a few overrides of the ContentPage.less stylesheet.
body#article-listing {
    main { // This avoids us targeting the nav.
        width: auto;
        margin: auto;
        #SizeAndSpacing > .max-width-almost-all-of-parent-but-not-abutting-edges;
           
        section.text-links {
            #SizeAndSpacing > .column-of-text-for-reading
            h2 {
                border-bottom: 3px double #ccc;
                border-top: 3px double #ccc;
                #Typography > .subtitling-font;
                font-style: normal;
                font-size: 1.5rem;
                margin-bottom: 3rem;
                text-align: center;
                padding: 2rem 0;
            }

            p, ul {
                padding: 0 2rem;
            }

            ul {
                li {
                    #Typography > .alternate-titling-font;
                    font-size: 1.5rem;
                    font-weight: 200;
                    margin-bottom: 3rem;
                    text-align: center;
                    a {
                        #a > .blanklink;
                    }
                }
            }

            // If the section has an explanatory paragraph (or paragraphs) immediately before the ul,
            // it's better to add an em dash to the list items for a bit of visual distinction.
            p + ul {
                padding: 0 4rem;
                li:before {
                    content: "—";
                }
            }
        }

        section.image-links {
            h2, p {
                margin: auto;
            }

            h2 {
                #Typography > .subtitling-font;
                margin: 5rem 0 3rem 0; // the top margin collapses with the header above it if it is less than that size.
                color: #444;
                font-size: 1.3rem;
                letter-spacing: 0.05rem;
                text-transform: none;
                text-align: center;
                border-right-width: 0;
                border-left-width: 0;
                border-bottom-width: 2px;
                border-top-width: 2px;
                border-style: solid;
                border-color: #eee;
                font-style: normal;
                padding: 1rem 0;
            }

            p {
                text-align: left;
                margin: 3rem auto;
                #SizeAndSpacing > .column-of-text-for-reading;
            }

            ul {
                li {
                    display: inline-block;
                    vertical-align: top;

                    margin: 0 2rem 4rem 2rem;
                    // I don't entirely understand the workings of flexbox and width. The li elements actually resize, but I have to set the width to get things to work
                    // properly. Min-width and max-width both have rendering problems on viewport resize (relating, I think, to the empty elements from the hack.)
                    width: 18rem;


                    a { 
                        #a > .blanklink;
                    }
                    
                    img {
                        margin-bottom: 0.5rem; // canceling out a cascaded value
                        max-width: 100%; // canceling out a cascaded value
                    }

                    span {
                        #Typography > .alternate-titling-font;
                        font-size: 1.4rem;
                        display: block;
                        text-align: left;
                        line-height: 1.3;
                    }
                }   
            }

            &.flexbox {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;

                    li {
                        // This is a bit of a hack, but so be it.
                        // Spaces out the last line with a bunch of empty elements of the same width as the content-filled elements.
                        // Once the line wraps around, there are no items with any height so the remaining flex rows
                        // with the empty elements don't affect the design in any way, as they have a height of 0.
                        &:empty {
                            height: 0;
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
                }
            }

        }        
    }
}
