﻿@import "..\AggregatedImports.less";
@import "..\AggregatedImports.less";

body#biography {
    
    img#emblem {
        margin-bottom: 5rem;
        max-width: 20rem;
        // override values from ContentPage.less
        width: auto;
        height: auto;
    }

    article main {
        
        section {
            padding-left: 3rem;
            padding-right: 3rem;
            margin-left: 1.5rem;

            p {
                span.opener-verb {
                    font-weight: bold;
                }
            
                span.opener-object {
                    font-style: italic;       
                    &::after {
                        content: '\a';
                        white-space: pre;
                    }
                }

            }
        }
    }


}