﻿@using System.Web.UI.WebControls
@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    String pageTitle = ViewBag.PageTitleForSearchEnginesAndBrowserTabs ?? ViewBag.ArticleTitle ?? "Ryan Norbauer";
}
<head>
    <title>@Html.RemoveHtmlTags(pageTitle)</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="http://cloud.typography.com/84606/661582/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Asset("~/Assets/stylesheets/style.css")" />
    <script type="text/javascript" src="~/Assets/javascripts/main.js"></script>
</head>