﻿<section>
    <h2>About</h2>
    <ul>
        <li>@Html.RouteLink("Biography", "Page", new {slug = "biography"})</li>
        <li>@Html.RouteLink("Contact", "Page", new { slug = "contact" })</li>
    </ul>
</section>

<section>
    <h2>Photography</h2>
    <ul>
        <li>@Html.RouteLink("About", "Photography", new { slug = "about" })</li>
        <li>@Html.RouteLink("Projects", "Photography", new { slug = "projects" })</li>
        <li>@Html.RouteLink("Portraits", "Photography", new { slug = "portraits" })</li>
    </ul>
</section>

<section>
    <h2>Portfolio</h2>
    <ul>
        <li>@Html.RouteLink("About", "Page", new { slug = "portfolio" })</li>
        <li>@Html.RouteLink("Business", "Page", new { slug = "business-portfolio" })</li>
        <li>@Html.RouteLink("Academia", "Page", new { slug = "academic-portfolio" })</li>
    </ul>
</section>

<section>
    <h2>Notebook</h2>
    <ul>
        <li>@Html.RouteLink("Travel", "Page", new { slug = "travel-notebook" })</li>
        <li>@Html.RouteLink("Culinary", "Page", new { slug = "culinary-notebook" })</li>
    </ul>
</section>

<section>
    <h2>Technical</h2>
    <ul>
        <li>@Html.RouteLink("Digital Creative Tools", "Page", new { slug = "digital-creative-tools" })</li>
    </ul>
</section>

@*

var navSections = new List<inavsection>
    ();

    var aboutSectionLinks = new List<ilink>
        {
        LinkFactory.Create("Biography", "~/biography"),
        LinkFactory.Create("Contact", "~/contact"),
        LinkFactory.Create("Follow", "~/follow")
        };
        navSections.Add(NavSectionFactory.Create("About", aboutSectionLinks));

        var portfolioSectionLinks = new List<ilink>
            {
            LinkFactory.Create("Art Direction", "~/portfolio/art-direction"),
            LinkFactory.Create("Software", "~/portfolio/software"),
            LinkFactory.Create("Business", "~/portfolio/business"),
            LinkFactory.Create("Academia", "~/portfolio/academia")
            };
            navSections.Add(NavSectionFactory.Create("Portfolio", portfolioSectionLinks));

            var photographySectionLinks = new List<ilink>
                {
                LinkFactory.Create("About", "~/photography"),
                LinkFactory.Create("Art Direction", "~/photography/projects"),
                LinkFactory.Create("Portraits", "~/photography/portraits"),
                LinkFactory.Create("About in the world", "~/photography/perambulatory")
                };
                navSections.Add(NavSectionFactory.Create("Photography", photographySectionLinks));

                var notebookSectionLinks = new List<ilink>
                    {
                    LinkFactory.Create("Culinary", Html.ActionLink("Link text", "Article", new { slug = "nougat-de-montelimar-recipe" } )),
                    LinkFactory.Create("Culinary", "~/notebook/travel-guides"),
                    LinkFactory.Create("Essays", "~/notebook/essays")
                    };
                    navSections.Add(NavSectionFactory.Create("Notebook", notebookSectionLinks));

                    var technicalSectionLinks = new List<link>
                    {
                    LinkFactory.Create("Digital Creative Tools", "~/technical/digital-creative-tools"),
                    LinkFactory.Create(".Net Development", "~/technical/dot-net-development"),
                    LinkFactory.Create("Digital Creative Tools", "~/technical/digital-creative-tools")
                    };
                    navSections.Add(NavSectionFactory.Create("Technical", technicalSectionLinks));
*@
