﻿@import "..\AggregatedImports.less";

#Components {
    .image-gallery {
        
        #SizeAndSpacing > .max-width-almost-all-of-parent-but-not-abutting-edges;
        #SizeAndSpacing > .centered-within-parent;

        // In case prefatory text is required.
        section {
            #Components > .block-of-text-for-reading;
        }

        section.photographs {
            max-width: 100%;

            // Inline-block elements behave like text elements; hence the text-align on the div containing them.
            text-align: center;

            img {
                display: inline-block;
                vertical-align: top;
                // Give every image the same height and make it 25% the height of the viewport—a semi-arbitrary value.
                max-height: 25vh;
                margin: 2rem;
            }
        }
    }
}

