﻿// Create a hidden link containing the image. At a z-index above the base page.
lightbox {
    display: flex;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // relevant when the display: flex is applied when lightbox is target. Will put image in absolute center of page.
    justify-content: space-around;
    align-items: center;
    // 90% opacity white.                
    background: rgba(255,255,255,0.9);
    border: none;

    img {
        max-height: 80vh !important;
        max-width: 80vw !important;
    }

    cursor: pointer;
}

.lightboxable {
    cursor: pointer;
}