﻿@using System.Diagnostics
@using System.IO;
@using System.Security.Policy
@using System.Web.Configuration
@using System.Web.Mvc
@using JetBrains.Annotations
@using Norbauer.RyanDotNorbauerDotCom.Helpers
@helper Link(String title, String slug, String sluggedPageControllerName = "Article")
{
    var urlHelper = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Url;

    String thumbnailPrefix = String.Empty;
    switch (sluggedPageControllerName)
    {
        case "Article":
            thumbnailPrefix = "articles";
            break;
        case "Photography":
            thumbnailPrefix = "photography";
            break;
        case "Page":
            thumbnailPrefix = "pages";
            break;
        Debug.Assert(!String.IsNullOrEmpty(thumbnailPrefix));
    }
    
    String pathToImage = String.Format("~/Assets/images/content/{0}_{1}_thumbnail.jpg", thumbnailPrefix, slug);
    
    <a href="@urlHelper.RouteUrl(sluggedPageControllerName, new { Slug = slug })">
        <img src='@urlHelper.Asset(pathToImage)' />
        <span>@title</span>
    </a>
}
