﻿@using System.IO;
@using System.Security.Policy
@using JetBrains.Annotations
@using Norbauer.RyanDotNorbauerDotCom.Helpers
@helper WithLightbox([PathReference("~/Assets/images/content/")] String path, String altText = null, Boolean portraitOrientation = false, String maxWidth = null)
{

    String imageClass = null;
    String lightboxCssClassName = "lightboxable";
    if (portraitOrientation)
    {
        imageClass = "portrait-orientation" + " " + lightboxCssClassName;
    }
    else
    {
        imageClass = lightboxCssClassName;
    }

    @Image.Tag(path, altText, imageClass, maxWidth)
}

@helper WithoutLightbox([PathReference("~/Assets/images/content/")] String path, String altText = null, Boolean portraitOrientation = false, String maxWidth = null, Boolean wrapInSelfLink = false)
{
    String imageClass = null;
    if (portraitOrientation)
    {
        imageClass = "portrait-orientation";
    }
    
    @Image.Tag(path, altText, imageClass, maxWidth, wrapInSelfLink)
}

@helper Tag([PathReference("~/Assets/images/content/")] String path, String altText = null, String cssClassString = null, String maxWidth = null, Boolean wrapInSelfLink = false)
{
    if (path[0] != '~')
    {
        path = "~/Assets/images/content/" + path;
    }

    String inlineStyle = null;
    if (maxWidth != null)
    {
        inlineStyle = "max-width: " + maxWidth + ";";
    }
    
    String id = Path.GetFileNameWithoutExtension(path);
    var urlHelper = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Url;

    if (wrapInSelfLink)
    {
       @:<a href="@urlHelper.Asset(path)">
    }

    <img src="@urlHelper.Asset(path)" class="@cssClassString" alt="@altText" style="@inlineStyle" />

    if (wrapInSelfLink)
    {
        @:</a>
    }
}