﻿#Media {
    #Print {
        .hide {
            @media print {
                display: none;
            }
        }
    }
}

@media print {
    
    html {
        font-size: 11px;
    }

    .print-media-hide {
        display: none;
    }

    .print-media-page-break-before {
        page-break-before: always; 
    }
   
}