﻿@using Microsoft.Ajax.Utilities
@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    Boolean pageIsReceipe = ViewBag.Recipe != null && ViewBag.Recipe == true;
    if (pageIsReceipe)
    {
        ViewBag.CssIDForBody = "recipe";
    }

    Boolean allTitleFieldsAreEmpty = (String.IsNullOrEmpty(ViewBag.ArticleTitle) &&
                                      String.IsNullOrEmpty(ViewBag.ArticleSuperTitle) &&
                                      String.IsNullOrEmpty(ViewBag.ArticleSubTitle));
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    @RenderPage("~/Views/Shared/Partials/_html-head.cshtml")
<body id="@ViewBag.CssIDForBody" class="@(ViewBag.CssClassForBody ?? "content-page" )">
    <div id="flex-container">
        @RenderPage("~/Views/Shared/Partials/_content-page-nav.cshtml")
        <div class="content">

            @if (ViewBag.CssIDForBody == "biography")
            {
                <img id="emblem" src="@Url.Asset("~/Assets/images/ryan-norbauer-portrait-sketch.png")" alt="Ryan Norbauer portrait sketch" />
            }
            else
            {
                <img id="emblem" src="@Url.Asset("~/Assets/images/emblem.svg")" alt="Portcullis Emblem" />
            }

            @if (pageIsReceipe)
            {
                @:<article itemscope itemtype="http://data-vocabulary.org/Recipe">
            }
            else
            {
                @:<article>
            }
            @if (!allTitleFieldsAreEmpty)
            {
                <header>
                    <div id="headline">
                        @if (ViewBag.ArticleSuperTitle != null)
                        {
                            <h2 class="article-supertitle">@Html.Raw(ViewBag.ArticleSuperTitle)</h2>
                        }
                        @if (ViewBag.ArticleTitle != null)
                        {
                            if (pageIsReceipe)
                            {
                                <h1 class="article-title" item itemprop="name">@Html.Raw(ViewBag.ArticleTitle)</h1>
                            }
                            else
                            {
                                <h1 class="article-title">@Html.Raw(ViewBag.ArticleTitle)</h1>
                            }
                        }
                        @if (ViewBag.ArticleSubTitle != null)
                        {
                            <h3 class="article-subtitle">@Html.Raw(ViewBag.ArticleSubTitle)</h3>
                        }
                    </div>
                </header>
            }
            @if (ViewBag.CSSIDForMainElement != null)
            {
                @:<main class="@ViewBag.CSSIDForMainElement">
            }
            else
            {
                @:<main>
            }
            @RenderBody()
        </main>
</article>
</div>
</div>
</body>
</html>