﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    @RenderPage("~/Views/Shared/Partials/_html-head.cshtml")
    <body class="landing-page">
        @RenderBody()
    </body>
</html>