﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleTitle = "Blotty Ink Pen Brush Preset Library for Photoshop";
    ViewBag.ArticleSuperTitle = "Digital Creative Tools";
}
<section>               
    <img src="~/Assets/images/content/articles_blotty-pen-library_sample_composition.png" alt="Composition made using the pen library" style="max-width: 60%;" />

    <p>
        I have created a library of Photoshop brush presets to simulate the use of vintage-style blotty crow-quill and nib-pen inking techniques traditionally created in physical media.
        It is available freely and openly for download below.
    </p>
                
    <p>
        Additionally, for the curious, I have written an @Html.ArticleLink("extensive engineering analysis", "engineering-blotty-brushes-part-1-brushes-in-photoshop") of how these presets
        are built within the broader brushing framework in Photoshop (along with an examination of how that framework operates).
    </p>
               
</section>

<section>
    <h2>Examples of Work</h2>

    <figure class="portrait-orientation">
        @Image.WithLightbox("articles_blotty-pen-library_samples-david-stafford-fake-warhol.jpg", altText: "Sample work by David Stafford for the Fake Andy Warhol project", maxWidth: "60%;")
        <figcaption>Illustration by <a href="https://www.flickr.com/photos/68208275@N03/">David Stafford</a> for the <a href="http://fakeandywarhol.org/">Fake Andy Warhol project</a>.</a></figcaption>
    </figure>

    <figure>
        @Image.WithLightbox("articles_blotty-pen-library_samples-coleen-tsoi-mass-effect.png")
        <figcaption>Illustration "Mass Effect" by <a href="http://biovanilla.deviantart.com/">Coleen Tsoi</a></figcaption>
    </figure>
    
    <figure class="portrait-orientation">
        @Image.WithLightbox("articles_blotty-pen-library_samples-coleen-tsoi-electra-heart.png", maxWidth: "7x0%")
        <figcaption>Illustration "Electra Heart" by <a href="http://biovanilla.deviantart.com/">Coleen Tsoi</a></figcaption>
    </figure>

</section>

<section>
    <h2>The back story</h2>
    <p>
        Back in 2007, I made an editorial illustration to accompany an <a href="http://www.43folders.com/2007/12/31/death-and-underachievement-guide-happiness-work">article</a>
        I wrote for my friend Merlin Mann and his productivity site 43folders. The article was on the subject of the benefits of intentional
        underachievement&mdash;a sort of oblique review of
        <a href="http://www.amazon.com/gp/product/B007C17AJE/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B007C17AJE&linkCode=as2&tag=8gj38kd-20"><i>The Underachiver's Manifesto</i></a> by Ray Bennet&mdash;so I decided to make a drawing to go with, an image of the notorious <a href="http://en.wikipedia.org/wiki/Hipster_PDA">hipster PDA</a>
        that had long been associated with 43folders (essentially a stack of index cards held together with a binder clip), placing on its to-do list a single agendum: "fail."
    </p>

    <p>
        I had a very particular illustration style in mind, namely the sort of vintage, 1960's line art composed of blotty lines
        and background coloring that has been a longstanding trope of children's book illustration. This style was pioneered by Andy Warhol's
        <a href="http://www.moma.org/collection/browse_results.php?object_id=86705">blotty line art drawings </a>and continues prominently in the work of the contemporary illustraor
        Edwin ("Mr.") Fotherinham who expertly <a href="http://www.edfotheringham.com/">riffs on this theme</a> to spectacular results, along with to a lesser extent
        some of the work by <a href="http://www.sbritt.com/">Stephan Britt</a>. Something about this fanciful style reminds me of books that I used to love to page through as a kid
        (such as Emberley's <a href="http://rcm.amazon.com/e/cm?lt1=_blank&amp;bc1=000000&amp;IS2=1&amp;bg1=FFFFFF&amp;fc1=000000&amp;lc1=0000FF&amp;t=8gj38kd-20&amp;o=1&amp;p=8&amp;l=as4&amp;m=amazon&amp;f=ifr&amp;ref=ss_til&amp;asins=B000GT72FG"><i>London Bridge is Falling Down</i></a>
        and Sasek's <a href="http://www.amazon.com/gp/product/0789310635/ref=as_li_ss_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0789310635&amp;linkCode=as2&amp;tag=8gj38kd-20"><i>This is Paris</i></a>),
        and as a result I find it quite beguiling.
    </p>

    <p>
        At any rate, I futzed around for a long time trying to figure out how to create a brush in Adobe Illustrator that would answer
        my needs, allowing me to draw inky lines in a stochastic line style approximating physical media, but I quickly learned that no joy was
        to be had from that quarter. So I decided to go down to Dick Blick Art Materials to buy some paints, a roller, some India ink, and a crow
        quill pen. With some diligence exploring how to dig my quill into the paper in just the right ham-fisted way to get blobby lines (and some
        help colorizing from Adobe Illustrator), I ended up with the following.
    </p>

    <img alt="My hipster PDA illustration for 43folders." src="~/Assets/images/content/articles_blotty-pen-library_43folders-hipster-pda.jpg">

    <p>
        I like the hand-made feel that resulted, with the drawback of course being that I actually had to <em>hand-make</em>
        it. This was messy, and incommodiously lacked an undo button when I made a line that didn't look like I wanted. I have always wished there
        were a day to do this digitally (I even went so far as trying, unsuccessfully, to commission someone on Elance to design a
        brush for Illustrator to achieve the effect), but vector brushes don't really lend themselves well to this kind of naturalistic drawing.
    </p>
    <p>
        However, just recently, I was taking <a href="http://www.deke.com/">Deke McClelland's</a> excellent
        and amazing comprehensive sixty-some-hour "One-on-one" course on Photoshop at Lynda.com. Towards the very end was a tutorial on
        the software's impressive brushing facilities, which cast my mind back to my failed attempts to simulate a crow quill using
        vectors in Illustrator. I wondered if I might not be able to revisit my old aspiration, this time using a raster approach. It
        turns out that my solution lay all this time in Photoshop rather than Illustrator.
    </p>
</section>

<section>
    <h2>Specimen</h2>
    <p>
        These are the brushes that I was able to come up with, rendered on top of an identical background shading layer, using
        my best (bad) approximation of a lightbulb drawing in the sort of representational style that tends to be used with this ink
        technique. (They have been downscaled somewhat to fit better in this space. The actual brushes render much more, and better, detail at 100%.)
    </p>
    @Image.WithoutLightbox("articles_blotty-pen-library_specimen-sheet.png", altText: "Pen Library Specimen Sheet")
    <p>
        My intent here is not necessarily to be comprehensive in creating all the sorts of blotty brushes a person might ever
        want, but rather to show how combining various preset options can yield results akin to this style, without ever having to dip
        a physical quill into an inkwell. If you'd care to know how they work so you can build on and extend what I've created,
        @Html.ArticleLink("see here", "engineering-blotty-brushes-part-1-brushes-in-photoshop"). Or if you just want to get on with the
        task of using the brushes, they can be downloaded directly below.
    </p>
</section>

<section>
    <h2>Download</h2>
    <p><a href="~/Assets/downloads/Norbauer_Blotty_Pen_Presets.abr">Photoshop Blotty Crow Quill Ink Presets Library</a> (.abr file)</p>
    <p>
        You are welcome to use this library freely (in every sense). However, if do you make anything with it that you think came out well, I would love it
        if you would @Html.PageLink("drop me a note", "contact") to share the results. I would also be happy to share any such work on this page.
</p>
</section>

<section>
    <h2>Tips for use</h2>
    <ul class="bulleted">
        <li>
            I find that working at 100% zoom with the default brush preset sizes works best and then downsampling the image slightly. This
            is how the lightbulb samples above were created (even though I had to take the downsampling further than I might have liked to preserve good detail).
        </li>
        <li>
            Turn off the <i>Tablet Pressure Controls Opacity</i> override option in the brush tool options panel to get your lines to correspond
            to mine. Having it on will cause the ink to look translucent in spots, which may or may not be desirable to you, but I prefer the effect without opacity variation.
        </li>
        <li>Brush with a stylus and tablet using variable pressure to lend the most natural hand-made appearance to your line.</li>
    </ul>
</section>