﻿@using System.Web.Services.Description
@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleTitle = "H.P. Lovecraft Walking Tour of Providence";
    ViewBag.ArticleSuperTitle = "Notebook";
    ViewBag.ArticleSubTitle = "Travel - Guides";
}    

<section>
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_article-header.jpg")

    <p>
        I have undertaken many self-guided Lovecraft-centric perambulations in Providence, and I recently expanded my dossier on the subject thanks
        to pointers received at the scholarly HPL conference held in the city in 2013.
        The notes that follow are the culmination of those researches and explorations.
    </p>

    <p>
        If the avid Lovecraftian were to follow these addresses
        in succession as they appear below (presumably, with the aid of a smartphone's GPS), he shall find them laid out in a rationalized
        circumnavigatory trajectory, terminating roughly where it started. It's a multi-hour affair with a considerable amount of walking,
        so be prepared.
    </p>
</section>

<section>
    <h2>Providence Station</h2>
    <p>
        The present Amtrak station isn't the same physical building to which Lovecraft would have returned from his (rare) exploits abroad (and
        by that I of course mean exotic locales such as Vermont), but coming to Providence Station by train—in my case from Boston—still has a certain
        flavor of the Lovecraftian past about it.
    </p>

    <blockquote>
        <p>
            Well—the train sped on, & I experienced silent convulsions of joy in returning step by step to a waking & tri-dimensional life.
            New Haven—New London—& then quaint Mystic, with its colonial hillside & landlocked cove. Then at last a still subtler magick fill’d
            the air—nobler roofs & steeples, with the train rushing airily above them on its lofty viaduct—Westerly—in His Majesty’s Province of
            RHODE-ISLAND & PROVIDENCE-PLANTATIONS! GOD SAVE THE KING!! Intoxication follow’d—Kingston—East Greenwich with its steep Georgian alleys
            climbing up from the railway—Apponaug & its ancient roofs—Auburn—just outside the city limits—I fumble with bags & wraps in a desperate
            effort to appear calm—THEN—a delirious marble dome outside the window—a hissing of air brakes—a slackening of speed—surges of ecstasy &
            dropping of clouds from my eyes & mind—HOME—UNION STATION—PROVIDENCE!!!!
        </p>
        <p class="attribution">HPL: Letter to Frank Belknap Long, 1 May 1926</p>
    </blockquote>

    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_union-station-letter.jpg", "HPL Letter on returning to Providence, photographed at the Providence Athenaeum (from Hay Library collection)", portraitOrientation: true)
</section>

<section>
    <h2>Providence Biltmore</h2>
    <p class="information-supplemental-to-header">11 Dorrance St</p>
    
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_biltmore.jpg", "Providence Biltmore")

    <p>
        NecronomiCon 2013 was largely held here, featuring talks by the most eminent living Lovecraft scholars (with only the conspicuous
        exception of HPL's greatest hagiographer, Michel Houellebecq).
    </p>

    <blockquote>
        <p>At the high square where Broad, Weybosset, and Empire Streets join, he saw before and below him in the fire of sunset the pleasant, remembered houses and domes and steeples of the old town; and his head swam curiously as the vehicle rolled down the terminal behind the Biltmore, bringing into view the great dome and soft, roof-pierced greenery of the ancient hill across the river, and the tall colonial spire of the First Baptist Church limned pink in the magic evening light against the fresh springtime verdure of its precipitous background.</p>
        <p>Old Providence! It was this place and the mysterious forces of its long, continuous history which had brought him into being, and which had drawn him back toward marvels and secrets whose boundaries no prophet might fix. Here lay the arcana, wondrous or dreadful as the case might be, for which all his years of travel and application had been preparing him. A taxicab whirled him through Post Office Square with its glimpse of the river, the old Market House, and the head of the bay, and up the steep curved slope of Waterman Street to Prospect, where the vast gleaming dome and sunset-flushed Ionic columns of the Christian Science Church beckoned northward. Then eight squares past the fine old estates his childish eyes had known, and the quaint brick sidewalks so often trodden by his youthful feet. And at last the little white overtaken farmhouse on the right, on the left the classic Adam porch and stately bayed facade of the great brick house where he was born. It was twilight, and Charles Dexter Ward had come home.</p>
        <p class="attribution">HPL: "The Case of Charles Dexter Ward"</p>
    </blockquote>
    
    <figure>
        @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_necronomicon-talk.jpg", "Talk at Necronomicon")
        <figcaption>NecronomiCon intermission between talks, right before a panel with S.T. Joshi.</figcaption>
    </figure>
</section>

<section>

    <h2>Providence Athenaeum (B)</h2>
    <p class="information-supplemental-to-header">251 Benefit St.</p>
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence-athenaeum-exterior.jpg", "Exterior of the Providence Athenaeum")
    <p>
        This was a favorite reading spot of HPL and his greatest source
        of inspiration, Edgar Allen Poe.
    </p>
    
    <blockquote>
        <p>...our old Athenaeum, where Poe spent many an hour, and wrote his name at the bottom of one of his unsigned poems in a magazine...</p>
        <p class="attribution">HPL: Letter to James F. Morton, 3 May 1923</p>
    </blockquote>

    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence-athenaeum-interior.jpg", "Interior of the Providence Athenaeum")
    <p>
        Unlike at the (otherwise rather more impressive)
        <a href="http://en.wikipedia.org/wiki/Boston_atheneum">
            Boston
            Athen&aelig;um
        </a>, photography is permitted here, and anyone can
        roam the stacks freely. Only to withdraw books is a membership
        required.
    </p>

    <figure class="portrait-orientation">
        @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence-athenaeum-lovecraft-bust.jpg", "Lovecraft Bust at the Providence Athenaeum", portraitOrientation: true)
        <figcaption>A bust of Lovecraft, installed in 2013.</figcaption>
    </figure>
    
</section>

<section>

    <h2>List Art Center</h2>
    <p class="information-supplemental-to-header">64 College Street</p>
    
    <p>HPL's final home, the Mumford House (now at 65 Prospect St), was located here. No doubt he would find the modernist List building that replaced it utterly abhorrent.</p>
    
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_list-art-building.jpg", altText: "List Art Center")

</section>

<section>
    <h2>John Hay Library</h2>
    <p class="information-supplemental-to-header">20 Prospect Street</p>

    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_john-hay-library.jpg", altText: "List Art Center")

    <p>The largest collection of Lovecraft's manuscripts and papers is held here.</p>
</section>

<section>
    <h2>Lovecraft Memorial</h2>
    <p class="information-supplemental-to-header">On the grounds of the Hay Library</p>
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_memorial.jpg", altText: "Hay Library at Brown")
</section>


<section>
    <h2>Van Wickle Gates</h2>
    <p class="information-supplemental-to-header">Across from the Hay Library</p>
    <div class="side-by-side-images">
        @Image.WithoutLightbox("articles_hp-lovecraft-walking-tour-of-providence_lovecraft_at_van_wickle_gates.jpg", "Lovecraft at Van Wickle Gates", portraitOrientation: true)
        @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_van-wickle-gates.jpg", "Van Wickle Gates at Brown", portraitOrientation: true)
    </div>
</section>


<section>
    <h2>Lovecraft Birthplace</h2>
    <p class="information-supplemental-to-header">454 Angell Street</p>
    <figure>
        @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_454-angell-street.jpg")
        <figcaption>Perhaps needless to say, this isn't the original building but merely its location.</figcaption>
    </figure>

    <blockquote>
        <p>
            I have always had a deep & persistent notion that life doesn’t amount to very much, & that it would have been better
            if one had never been born. I have doubted whether anything in existence be worth the sacrifice of simple placidity &
            freedom from strong emotion, & have thus vegetated along very quietly, more of an epicurean in the strict historical
            sense than a hedonist of the Cyrenaic kind—which most moderns seem to be. And I still think my phlegmatic way & detached,
            cosmic attitude have gained me more than they have lost me. Doubtless my position is highly inartistic—but I don't let that
            worry me. I can summon up enough ghouls & lemures to amuse my idle hours—& it’s all the better if they don’t harrow me up
            as they used to do in my nervous nightmares—which were most marked when I was six years old. But I digress.
        </p>
        <p class="attribution"><i>Selected Letters of H.P. Lovecraft</i>, pp 242-243.</p>
    </blockquote>
    <p>There is now a Starbucks across the street, an excellent spot to pause for mid-stroll refreshment and meditation on the foregoing facts.</p>
</section>

<section>
    <h2>Lovecraft House<br />(Adolescence and Early Adulthood)</h2>
    <p class="information-supplemental-to-header">598 Angell Street</p>

    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_598-angell-street.jpg")

    <p>This was Lovecraft's home from late childhood until his departure for New York in 1924.</p>

    <blockquote>
        <p>
            In a 1920 letter he revisits his childhood at length. The little railway set whose cars were made of packing-cases,
            the coach house where he had set up his puppet theater. And later, the garden he had designed, laying out each of
            its paths. It was irrigated by a system of canals that were his own handiwork, its ledges enclosed a small lawn at the
            center of which stood a sundial. It was, he said, "the paradise of my adolescent years."
        </p>

        <p>
            Then comes this passage that concludes the letter: "<i>
                                                                    Then I perceived with horror that I was growing too old for pleasure.
                                                                    Ruthless Time had set its full claw upon me, and I was seventeen. Big boys do not play in toy houses and mock gardens,
                                                                    so I was obliged to turn over my world in sorrow to another and younger boy who dwelt across the lot from me. And since
                                                                    that time I have not delved in the earth or laid out paths and roads. There is too much wistful memory in such procedure,
                                                                    for the fleeting joy of childhood may never be recaptured. Adulthood is hell.
                                                                </i>"

        </p>
        <p class="attribution"><i>H.P. Lovecraft: Against the World, Against Life</i><br />by Michel Houellebecq, pp 30-31</p>
    </blockquote>

    <div class="side-by-side-images">
        @Image.WithoutLightbox("articles_hp-lovecraft-walking-tour-of-providence_598-angell-street-lovecraft.jpg", portraitOrientation: true)
        @Image.WithoutLightbox("articles_hp-lovecraft-walking-tour-of-providence_598-angell-street-lovecraft-with-rheinhart-kleiner.jpg", portraitOrientation: true)
    </div>
</section>

<section>
    <h2>30 Orchard Avenue</h2>
    <div class="side-by-side-images">
        @Image.WithoutLightbox("articles_hp-lovecraft-walking-tour-of-providence_lovecraft-at-30-orchard-avenue-near-planter.jpg", portraitOrientation: true)
        @Image.WithoutLightbox("articles_hp-lovecraft-walking-tour-of-providence_lovecraft-at-30-orchard-avenue-in-garden.jpg", portraitOrientation: true)
    </div>
    
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_30-orchard-avenue-sign.jpg", altText: "30 Orchard Avenue sign")
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_30-orchard-avenue-fence.jpg", altText: "30 Orchard Avenue fence", portraitOrientation: true)

</section>

<section>
    <h2>St Martin's Episcopal Church</h2>
    <p class="information-supplemental-to-header">50 Orchard Ave</p>
    
    <div class="side-by-side-images">
        @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_st-martins.jpg", altText: "St Martin's Episcopal Church", portraitOrientation: true)
        @Image.WithoutLightbox("articles_hp-lovecraft-walking-tour-of-providence_lovecraft-at-st-martins-episcopal-church.jpg", portraitOrientation: true)
    </div>
</section>

<section>
    <h2>Ladd Observatory</h2>
    <p class="information-supplemental-to-header">210 Doyle Street</p>
    
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_ladd-observatory.jpg")
    <p>
        Perhaps no single location is more significant to the development
        of <a href="http://en.wikipedia.org/wiki/Cosmicism">cosmicism</a>.
    </p>
    <blockquote>
        <p>
            The late Prof. Upton of Brown, a friend of the family,
            gave me the freedom of the college obseratory, (Ladd Observatory) &amp;
            I came &amp; went there at will on my bicycle. Ladd Observatory tops a
            considerable eminence about a mile from the house. I used to walk up
            Doyle Avenue with my wheel, but when returning would have a glorious
            coast down it.
        </p>
        <p class="attribution">HPL Letter to Reinhardt Kleiner<br /> 16 November 1916</p>
    </blockquote>

    <p>
        Beginning at the age of 13 and through his teenage years, Lovecraft self-published his own astronomical journal, which invariably
        featured a hand-penned illustration of Ladd Observatory on its cover.
    </p>
    
    <div class="side-by-side-images">
        @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_ladd-observatory-almanack-1.jpg")
        @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_ladd-observatory-almanack-2.jpg")
    </div>
    
    <div class="side-by-side-images">
        @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_ladd-observatory-almanack-3.jpg")
        @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_ladd-observatory-almanack-4.jpg")
    </div>
</section>

<section>
    <h2>10 Barnes St.</h2>
    <p>
        "The Call of Cthulhu" and most of the other Great Texts (to use Houellebecq's term)
        would have been written during HPL's tenure here (1926-1933).
    </p>

    <figure>
        @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_10-barnes-st.jpg")
        <figcaption>As it looked in 1958, very much as it does today.</figcaption>
    </figure>
</section>

<section>
    <h2>Prospect Terrace</h2>
    <p class="information-supplemental-to-header">48 Congdon St</p>
    <p>
        This used to be a favorite contemplative and reading spot of HPL. I enjoy imagining him sitting on these benches, overlooking the city, dreaming up
        "horrors unnameable and unaccountable that leer down from the external universes."
    </p>
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_prospect-terrace-vista.jpg")

    <blockquote>
        <p>
            The nurse used to stop and sit on the benches of Prospect Terrace to chat with policemen; and one of the child’s first
            memories was of the great westward sea of hazy roofs and domes and steeples and far hills which he saw one winter afternoon
            from that great railed embankment, all violet and mystic against a fevered, apocalyptic sunset of reds and golds and purples
            and curious greens.
        </p>
        <p class="attribution">HPL, "The Case of Charles Dexter Ward"</p>
    </blockquote>

    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_prospect-terrace-bench.jpg")
</section>


<section>
    <h2>The Mumford House</h2>
    <p class="information-supplemental-to-header">65 Prospect Street</p>
    
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_mumford-house-plaque.jpg", altText: "Samuel Mumford House Plaque")
    <p>
        This the physical where Lovecraft lived during his illness and death.
        The house has been moved from its location at that time (on College Street around the back of the Hay Library).
    </p>
    
    @Image.WithoutLightbox("articles_hp-lovecraft-walking-tour-of-providence_lovecraft-on-steps-of-the-mumford-house.jpg")
    
    <blockquote>
        <p>
            …the upper floor of a venerable dwelling in a grassy court off College Street - on the crest of the great eastward hill near the
            Brown University campus and behind the marble John Hay Library.
        </p>
        <p class="attribution">HPL, "The Haunter in the Dark"</p>
    </blockquote>
    
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_mumford-house.jpg", altText: "Samuel Mumford House Facade")
    
</section>


<section>
    <h2>H.P. Lovecraft Square</h2>
    <p class="information-supplemental-to-header">Corner of Angell and Prospect Streets</p>
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_hp-lovecraft-square.jpg")
</section>

<section>
    <h2>Colonial Apartments</h2>
    <p class="information-supplemental-to-header">175 Benefit Street</p>
    
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_colonial-apartments.jpg", altText: "Colonial Apartments")

    <p>
        Now a RISD dormitory, HPL sneered at this building during its construction in 1929: "a wretched ultra-modern
        <i>apartment-house</i> with all urban sophistications"(<i>Selected Letters, Vol 2</i>, pba355). A thoughtful back story can be found
        <a href="http://www.jvhri.org/index.php?option=com_content&view=article&id=2023:nothing-colonial-about-the-colonial-apartments-&catid=41:community&Itemid=62">here</a>.
    </p>
</section>

<section>
    <h2>Lovecraft Funeral Location</h2>
    <p class="information-supplemental-to-header">187 Benefit Street</p>
    <p>Formerly the Horace B Knowles Funeral Home, now a dormitory.</p>
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_funeral-location.jpg")
</section>

<section>
    <h2>Providence Art Club</h2>
    <p class="information-supplemental-to-header">11 Thomas Street</p>
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_providence-art-club-door.jpg")
    <blockquote>
        <p>Even the Providence Art Club, anxious to preserve its conservatism, had found [the sensitive artist Henry Wilcox] quite hopeless.</p>
        <p class="attribution">HPL, "The Call of Cthulhu"</p>
    </blockquote>
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_providence-art-club-sign.jpg")
    <p>An exhibition of Lovecraftian art was held here during NecronomiCon 2013.</p>
    <figure>
        @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_providence-art-club-exhibition.jpg")
        <figcaption>The Face and Hands of Henry Wentworth Akeley from a film production of "The Whisperer in Darkness"</figcaption>
    </figure>
</section>

<section>
    <h2>Fleur de Lys Studio</h2>
    <p class="information-supplemental-to-header">7 Thomas Street</p>
    <p>Used as the home of Wilcox in "The Call," it bears many bas-reliefs similar to those associated to Wilcox in the text.</p>
    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_fleur-de-lys-studio.jpg")
</section>

<section>
    <h2>First Baptist Church in America</h2>
    <p class="information-supplemental-to-header">75 North Main Street</p>
    <blockquote>
        <p>
            The first objective of our trip was that supreme landmark of Providence, the First Baptist Church, finish’d in 1775.
            This is my maternal ancestral church, but I had not been in the main auditorium since 1895, or in the building at
            all since 1907, when I gave an illustrated astronomical lecture in the vestry to the Boy’s Club. We found this fane
            as pleasing within as without, the panelling and the carving above the doors being especially notable as specimens of
            Georgian workmanship. We ascended to the organ loft, and I endeavour’d to play <a href="https://www.youtube.com/watch?v=FUbxmEQVuYw"><i>Yes, We Have no Bananas</i></a>, but was balk’d
            by lack of power, since the machine is not a self-starter. 
        </p>
        <p class="attribution">HPL, Letter to Samuel Loveman, 5 January 1924</p>
        @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_first-baptist-church-organ.jpg", portraitOrientation: true)
                
        <p>Eminent Lovecraft scholar S.T. Joshi also gave the NecronomiCon keynote from the pulpit here in 2013.</p>
        @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_first-baptist-church-joshi.jpg")
    </blockquote>
</section>

<section>
    <h2>St John's Church (and churchyard)</h2>
    <p class="information-supplemental-to-header">271 North Main Street</p>

    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_st-john-the-episcopal-churchyard.jpg", altText: "St John the Episcopal in Providence, RI")

    @Image.WithoutLightbox("articles_hp-lovecraft-walking-tour-of-providence_lovecraft-in-st-johns-churchyard.jpg", portraitOrientation: true)
    
    <blockquote>
        <p>
            Poe knew of this place, & is said to have wandered among its whispering willows during his visits here 90 years ago.
            Last August I shewed this place to two guests, & we all sat down on an altar-tomb & wrote rhymed acrostics on the name
            of Edgar Allan Poe…
        </p>
        <p class="attribution">HPL, Letter to Frank Utpatel, 15 February 1937</p>
    </blockquote>

    @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_st-john-the-episcopal-churchyard-tombstone.jpg", altText: "St John the Episcopal altar-tomb.")
</section>

<section>
    <h2>Lovecraft Grave Site</h2>
    <p class="information-supplemental-to-header">Swan Point Cemetery, 585 Blackstone Boulevard (best reached by bicycle or car)</p>
    <p>
        Reports are that it isn't permissible to take photographs here and that groundskeepers will sometimes intervene to prevent such undertakings.
        However, New England has a long tradition of grave rubbings, which I believe are entirely kosher under the rules of the cemetery.
    </p>
</section>

<section>
    <h2>General notes</h2>

    <p>
        Providence seems only just recently, at last, to have embraced its Lovecraftian heritage. Bookshops can be found selling volumes
        of Lovecraft scholarship and criticism. A square has been named after HPL. RISD and the city teamed up to put on a Lovecraft-inspired
        Waterfire.
    </p>

    <div class="side-by-side-images">
        @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_necronomicon-sign.jpg", portraitOrientation: true)
        @Image.WithLightbox("articles_hp-lovecraft-walking-tour-of-providence_necronomicon-sign-2.jpg", portraitOrientation: true)
    </div>

    <p>
        No one would have been more shocked by this, but ultimately I'm not sure that Lovecraft himself would have cared all that much.
        He knew that a glimmer of human posterity, especially of the literary and fashionable kind, was meaningless when viewed against the vast indifference
        of the cosmos—and that nothing, certainly not the approbation of one's fellow man, can validate or emancipate a human life.
    </p>
    
    @Image.WithoutLightbox("articles_hp-lovecraft-walking-tour-of-providence_the-duck-and-bunny-ad.png", portraitOrientation: true)

    <p>
        So go to Providence and walk in HPL's footsteps, or don't.
        In the end, it really doesn't matter. The best consolation we can hope for in life is some small measure of
        commiseration and camaraderie with our fellow primates struggling with the same human predicament, and at least in this respect Lovecraft
        offers us more than most—a friend in cosmic horror, a buddy in existential despair, a fellow-traveler on the <i>via dolorosa</i> that we
        preternaturally sensitive and afflicted walk. You'll find such companionship in his stories, in his letters certainly, and if you look for
        it, perhaps also to some lesser degree on the path I have laid down above.
    </p>
</section>