﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleTitle = "<i>Nougat de Montélimar</i> in detail.";
    ViewBag.ArticleSuperTitle = "Culinary";
    ViewBag.ArticleSubTitle = "Tips and Tricks";
}    

<section>
    <p>These tips and tricks supplement my articles and recipe on making @Html.ArticleLink("nougat de Montélimar", "nougat-de-montelimar-in-detail").</p>
</section>

<section>
    <h2>Viscosity control</h2>
    <p>Both the honey and glucose syrup are quite viscous and sticky. This can be greatly mitigated in three ways:</p>
    
    <ul class="bulleted">
        <li>Avoid transferring vessels (see below)</li>
        <li>
            When you are measuring a syrup into a <i>mise en place</i> bowl, wipe it gently with a paper towel saturated with vegetable oil. 
            This will help the syrup slide out of the bowl when needed.
        </li>
        <li>
            Most importantly, you can heat your glucose syrup and honey for a few seconds (10-30) in the microwave, which will make it <em>much</em>
            easier to pour.
        </li>
    </ul>
</section>

<section>   
    <h2>Measurement</h2>
    <ul class="bulleted">
        <li>
            Since the honey is quite viscous (making it difficult to move between vessels) and is cooked
            by itself, it is easiest simply to tare the scale with one of the saucepans and measure the warmed honey
            directly into it.
            @Image.WithLightbox("articles_nougat-de-montelimar_measuring-honey-on-scale.jpg")
        </li>
        <li>
            As above with the honey, you can measure the egg ingredients directly into the mixer bowl
            (after taring out the scale to the bowl's weight). If weight everything together like this, the
            cumulative weight increments for the sugar (30g), albumen powder (10g), and fresh egg whites (50g)
            are: 30g, 40g, and 90g, respectively.
            @Image.WithLightbox("articles_nougat-de-montelimar_egg-ingredients-in-mixer-bowl.jpg")
        </li>
        <li>
            The same could surely also be done with the glucose syrup (120g), sugar (380g) and water (100g). The cumulative
            increments are: 120g, 500g, and 600g, respectively.
        </li>
    </ul>
</section>

<section>
    <h2>Cocoa butter</h2>

    <p>
        Cocoa butter is easily melted in the microwave. It comes in <i>pistoles</i>, which are easy to measure out.
        @Image.WithLightbox("articles_nougat-de-montelimar_cocoa-butter-pistoles.jpg")
    </p>

    <p>
        It also comes in solid form. If you opt for this version, you'll find it easier to portion if you use a
        <a href="http://www.amazon.com/gp/product/B00005NUVX/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00005NUVX&linkCode=as2&tag=8gj38kd-20">
            chocolate fork
        </a>.
        @Image.WithLightbox("articles_nougat-de-montelimar_cocoa-butter-solid-in-tub.jpg")
        @Image.WithLightbox("articles_nougat-de-montelimar_cocoa-butter-solid-in-mise-en-place-bowl.jpg")
    </p>
</section>

<section>
    <h2>Cleanup</h2>
    <p>
        Toss everything in the dishwasher without fear. The nougat encrustations on your
        utensils and pots may look daunting, but the warm water in the dishwasher will
        dissolve it all completely.
        @Image.WithLightbox("articles_nougat-de-montelimar_dishwasher.jpg")
    </p>
</section>


<section>
    <h2>Next step</h2>
    <p>
        If you're going sequentially through my @Html.ArticleLink("nougat curriculum", "nougat-de-montelimar-in-detail"),
        read on to the @Html.ArticleLink("Short Form Recipe", "nougat-de-montelimar-short-form-recipe"), which provides a
        succinct cheat sheet for when you have the basics down.
    </p>
</section>