﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleTitle = "<i>Nougat de Montélimar</i> in detail.";
    ViewBag.ArticleSuperTitle = "Culinary";
    ViewBag.ArticleSubTitle = "Theory and Variations";
    ViewBag.Recipe = true;
}    

<section>
    @Image.WithLightbox("articles_nougat-de-montelimar_nougat-in-a-row.jpg")

    <p>
        In <a href="http://www.amazon.com/gp/product/0764588443/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0764588443&linkCode=as2&tag=8gj38kd-20">
               <i>Chocolates and Confections: Formula, Theory, and Technique for the Artisan Confectioner</i>
           </a>,
        Greweling classifies nougat as an aerated confection, along with marshmallow and divinity (basically the
        Southern American version of a soft nougat, sans honey). There are various ways of aerating candy; nougat
        uses mechanically whipped albumen.
    </p>

    <p>
        My approach uses a particular combination of ingredients and temperatures, all chosen for a particular end result
        (a brightly-colored, soft, fluffy texture and subtle flavoring that highlights the quality of the simple ingredients used).
        In this page, I explain the rationale for my variations, and give tips for those wishing to alter particular dimensions of the end
        result.
    </p>

</section>
<section>
    <h2>The two-step heating process</h2>
    <p>Few home recipes for nougat recommend cooking the honey and sugar separately, but it is entirely worth the extra step.</p>

    <h3>Advantages</h3>
    <ul class="bulleted">
        <li>
            Honey is acidic, which when combined with sucrose will chemically invert it, making the finished product more sticky and brown.
        </li>
        <li>
            Honey itself undergoes browning Maillard reactions at relatively low temperatures. Cooking it alone allows us to heat the
            other sugars to a higher temperature (which is required to get the sugar to the proper stage to harden the nougat into a candy)
            without exposing the honey.
        </li>
        <li>
            Similarly, heating the honey to a lower temperature preserves its flavor subtleties, which can volatilize away at higher temperatures.
        </li>
        <li>
            Addition of honey helps stabilize the whites before the sugar syrup is added, which means a loftier end result.
        </li>
    </ul>
</section>

<section>
    <h2>Honey</h2>
    <p>
        The primary sugar in honey is invert sugar, which helps prevent crystallization (making the candy more tender).
        But it, along with almond, also adds the distinctive flavor that is characteristic of fine nougats. The flavor profile of the honey
        can substantially affect the flavor of the end product, so you may wish to experiment with different varieties.
    </p>

    <h2>Vanilla bean paste</h2>
    <p>
        This is nothing more than a suspension of vanilla beans in water with a thickener added.
        It adds a strong flavor of real vanilla bean without souping up the mixture with extra liquid, as vanilla extract would, and
        it leaves lovely little flecks of vanilla bean throughout the nougat.
        It is added near the end of the cooking process to keep its flavoring compounds from volatilizing away.
    </p>
    @Image.WithLightbox("articles_nougat-de-montelimar_nielson-massey-madagascar-bourbon-pure-vanilla-bean-paste.jpg", portraitOrientation: true)
    @Image.WithLightbox("articles_nougat-de-montelimar_vanilla-paste.jpg")
</section>

<section>
    <h2>Fluffiness/texture</h2>
    <p>
        My recipe adds confectioner's sugar at the very end. This induces crystallization, making for a "short," tender texture (i.e.,
        not cohesive or given to stringing when pulled), reminiscent of a sticky, highly-aerated fudge. Omitting the confectioner's
        sugar will make an end result that is more elastic and chewy.
    </p>

    <p>
        Cocoa butter is also added, but it is optional. Omitting cocoa butter causes the nougat to be extremely adhesive and very difficult to work.
        You'll need lots of extra cornstarch. Addition of cocoa butter further shortens the texture, making it more tender and less chewy. It also
        imparts a pleasant subtle flavor, unsurprisingly reminiscent of white chocolate. I use much less cocoa butter than most recipes. I find that too
        much mottles the wafer paper and makes the nougat generally greasy. If you want more of the properties it imparts, you can safely as much as double
        the amount I call for, up to 50g.
        @Image.WithLightbox("articles_nougat-de-montelimar_cocoa-butter-pistoles.jpg")
    </p>
</section>

<section>
    <h2>Hardness</h2>
    <p>
        130° (soft) to 145° (medium-hard) is what I consider the safe range. Bear in mind that differences of only a couple of degrees will result
        in a discernible difference in the end product. The higher the temperature the sugar reaches, the less water the nougat will contain, making for a
        harder end result. Many recipes call for 155°, but I find that leads to a very hard and unsatisfyingly tacky result (to say nothing of its ill-effects
        one one's dentition). I opt for 135° in my recipe, but I have also been pleased with the results at 130°. If you want a more chewy, smooth
        confection, 145° is a great temperature.
    </p>
</section>

<section>
    <h2>Inclusions</h2>
    <p>
        Nougat de Montélimar is technically an <a href="http://en.wikipedia.org/wiki/Appellation_d'origine_contr%C3%B4l%C3%A9e">AOC</a> term, so
        you can't actually sell something called that unless it was made in a particular region in France. But if we wish to stick with the formal
        specs rather than the region requirements, it must contain 30% almonds <em>or</em> 28% almonds and 2% pistachios
        (see <a href="http://fr.wikipedia.org/wiki/Nougat_de_Mont%C3%A9limar">French Wikipedia</a>). I prefer the purity of all almonds, but adding
        some pistachios is pretty and doesn't interfere with the flavor much. I have also, especially at the holidays, added a number of other inclusions
        for variety: from candied ginger to dried cranberries. Candied orange peel is a particular favorite of mine and complements the almond well.
        Experiment as you like.
    </p>
</section>

<section>
    <h2>Next step</h2>
    <p>
        If you're going sequentially through my @Html.ArticleLink("nougat curriculum", "nougat-de-montelimar-in-detail"),
        read on to the next article: @Html.ArticleLink("the full recipe itself", "nougat-de-montelimar-recipe").
    </p>
</section>