﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleTitle = "<i>Nougat de Montélimar</i> in detail.";
    ViewBag.ArticleSuperTitle = "Culinary";
    ViewBag.ArticleSubTitle = "Cheat Sheet";
    ViewBag.PageTitle = "Nougat de Montélimar: Short-Form Recipe";
}    

<section class="print-media-hide">
    <p>
        This is a printable short-form cheat sheet recipe for those have mastered the @Html.ArticleLink("full version recipe", "nougat-de-montelimar-recipe"). 
        Before attempting either recipe, you should study my full @Html.ArticleLink("nougat curriculum", "nougat-de-montelimar-in-detail").
    </p>
</section>

<section>
    <h2>Ingredients</h2>
    <ul class="bulleted">
        <li>425g almonds</li>
        <li>50g fresh egg whites</li>
        <li>10g albumen powder</li>
        <li>410g granulated sugar</li>
        <li>120g glucose syrup</li>
        <li>100g water</li>
        <li>230g honey</li>
        <li>25g cocoa butter</li>
        <li>40g vanilla bean paste</li>
        <li>100g 10X sugar</li>
        <li>2 sheets wafer paper</li>
        <li>cornstarch</li>
    </ul>
</section>

<section class="print-media-page-break-before">
    <h2>Directions</h2>
    <ol class="numbered">
        <li>fresh egg whites, albumen powder, sugar in mixer bowl (cumulative increments: 50g, 60g, and 90g.) Combine with hand whisk.</li>
        <li>Toast 425g nuts @@ 180° (350° F), 12 mins. Keep warm at 120° (250° F).</li>
        <li>glucose, sugar, water into saucepan (cumulative increments: 120g, 500g, and 600g).</li>
        <li>230g honey into saucepan.</li>
        <li>Mise en place: 25g cocoa butter (melted), 40g vanilla bean paste, 100g confectioner's sugar.</li>
        <li>Lay out 2 sheets wafer paper. Coat tools in cornstarch, have extra ready.</li>
        <li>Honey on high heat.</li>
        <li>Whip egg whites on high.</li>
        <li>Honey @@ 120⁰: Honey into whipping whites.</li>
        <li>Continue whipping on high.</li>
        <li>Sugar mixture on high heat.</li>
        <li>Sugar @@ 135⁰C, remove from heat, stream into whites.</li>
        <li>Continue whipping for ~3mins, adding significant volume and fluffiness.</li>
        <li>Add vanilla, incorporate.</li>
        <li>Add cocoa butter, incorporate.</li>
        <li>Mix in almonds and confectioner's sugar with beater attachment.</li>
        <li>Mold onto wafer paper.</li>
    </ol>
</section>

