﻿@using Glimpse.Mvc.AlternateType
@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleTitle = "<i>Nougat de Montélimar</i> in detail.";
    ViewBag.ArticleSuperTitle = "Culinary";
    ViewBag.ArticleSubTitle = "Recipe, technique, and theory.";
    ViewBag.PageTitleForSearchEnginesAndBrowserTabs = "Nougat de Montélimar in detail: a recipe, technique, and theory.";
}    

<section>

    <img src="~/Assets/images/content/articles_nougat-de-montelimar_illustration.png" style="max-width: 80%;" />

    <p>
        French <i>confiserie</i> and, in particular, making <i>Nougat de Montélimar</i> (a.k.a., <i>nougat blanc</i>, or <i>torrone</i> in Italian) has become a
        minor obsession and happy diversion of mine. At every step of the process the substances involved are quite beautiful, and the end result has a
        sublime taste and texture truly unlike anything else. Its production is a mysterious, almost alchemical, exercise, and I commend it highly to the
        culinary hobbyist, notwithstanding its many subtleties and technical challenges.
    </p>

    <p itemprop="summary">
        For all its nuance, nougat is in fact a very simple concept; it is little more than a honey-impregnated meringue, consisting of three core
        ingredients: glucose, honey, and egg whites. I provide what I consider to be the canonical recipe, but I also provide a conceptual
        discussion of how the process works such that it is possible to alter variables in the end product—hardness, loft, sheen, texture,
        etc.—in order that you can make all the different forms of <i>nougat blanc</i> you might ever care to.
    </p>

</section>

<section>
    <h2>A Nougat Curriculum</h2>

    @Image.WithLightbox("articles_nougat-de-montelimar_nougat-closeup.jpg")

    <p>I have prepared a great deal of information for those wishing to master making nougat and its variations.</p>

    <p>I recommend going through each of the following pages in sequence before attempting the recipe.</p>

    <ol class="numbered">
        <li>@Html.ArticleLink("Equipment and Workspace Prep", "nougat-de-montelimar-equipment-and-workspace-prep")</li>
        <li>@Html.ArticleLink("Theory and Variations", "nougat-de-montelimar-theory-and-variations")</li>
        <li>@Html.ArticleLink("Recipe", "nougat-de-montelimar-recipe")</li>
        <li>@Html.ArticleLink("Tips and Tricks", "nougat-de-montelimar-tips-and-tricks")</li>
        <li>@Html.ArticleLink("Short-Form Recipe (cheat sheet)", "nougat-de-montelimar-short-form-recipe")</li>
    </ol>

</section>

<section>
    <h2>The Back Story</h2>

    <p>
        I have been experimenting with nougat for years now, and I've easily made more than 50 batches—varying such details as temperature, inclusions,
        doctoring agents, albumen sources, etc. I began with Flora Lazar's recipe, adapted from the French Pastry School, and demonstrated in
        this <a href="http://www.youtube.com/watch?v=qUU8o34F_Sg">slightly quirky video</a>. I modified that recipe in several ways: to be a bit softer,
        to include vanilla flavor, to show off the wafer paper better, etc., but I still wasn't entirely satisfied with the level of control it offered
        and I didn't understand why the properties of my batches sometimes varied significantly, even though I felt I had followed the recipe assiduously.
    </p>

    <p>
        However, in 2013 I discovered the magisterial
        <a href="http://www.amazon.com/gp/product/0764588443/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0764588443&linkCode=as2&tag=8gj38kd-20">
            <i>Chocolates and Confections: Formula, Theory, and Technique for the Artisan Confectioner</i>
        </a> by Peter Greweling of the Culinary Institute of America, which not only provided the
        starting point for an improved recipe but, more importantly, helped me understand some of the principles underlying how the culinary magic operates. Further
        eludication was offered by my recent reading of <a href="http://www.amazon.com/gp/product/141801169X/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=141801169X&linkCode=as2&tag=8gj38kd-20"><i>Advanced Bread and Pastry</i></a> by Michel Suas.
    </p>
    
    <p>The articles and recipe above are the culmination of my researches and experimentation.</p>
    
    <h3>Other references</h3>
    
    <ul class="bulleted">
        <li><a href="http://youtu.be/Yx4p-oxPZ90">History and manufacture of nougat</a> (YouTube, in French)</li>
        <li>
            Examples of artisinal nougat manufacture (also in French): <a href="http://youtu.be/MOkvF-fG6Fk">Moulin Bleu</a>,
            <a href="http://youtu.be/WfXzIwPTugQ">Jonquier</a>, <a href="http://youtu.be/Ph3MGrgA6u4">Fouque</a>
        </li>
    </ul>

</section>