﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleTitle = "<i>Nougat de Montélimar</i> in detail.";
    ViewBag.ArticleSuperTitle = "Culinary";
    ViewBag.ArticleSubTitle = "Equipment and Preparing Your Workspace";
}    

<section>
    @Image.WithLightbox("articles_nougat-de-montelimar_equipment.jpg")

    <p>
        I've put some effort into experimenting with different tools for making my recipe for
        @Html.ArticleLink("Nougat de Montélimar", "nougat-de-montelimar-in-detail"). I have provided below links to the precise equipment I use myself
        and information on how I lay out my workspace, based on the results of those adventures—and misadventures.
    </p>
</section>


<section>
    <h2>Equipment</h2>
    <p>I've admittedly chosen some rather first-world implements. Alternatives may suffice; YMMV.</p>

    <ul class="bulleted">
        <li>
            <a href="http://www.amazon.com/gp/product/B002RL9DMQ/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B002RL9DMQ&linkCode=as2&tag=8gj38kd-20">
                <i>mise en place</i> bowls
            </a> (Duralex, France)
            @Image.WithLightbox("articles_nougat-de-montelimar_duralex-mise-en-place-bowls.jpg")
        </li>

        <li>
            2 x <a href="http://www.amazon.com/gp/product/B004T6M702/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B004T6M702&linkCode=as2&tag=8gj38kd-20">
                    2-quart saucepan
                </a> (All-Clad, USA)
            <span class="note">
                I like these because they have a lot of steel in them, which makes heating up on my induction range faster. For the sugar/glucose mixture particularly,
                you want to heat the syrup as rapidly as possible to avoid burning the sugar and ending up adding an ugly brown tint to your nougat. You also want
                a saucepan with high sides and a small diameter, as the All-Clad 2-quarts have. This makes it possible to submerge the temperature probe
                properly into the liquid without having to rest it against the bottom of the pan. In wider-diameter pans the liquid is too shallow to allow an
                accurate reading.
            </span>
            @Image.WithLightbox("articles_nougat-de-montelimar_all-clad-2-quart-suacepan.jpg")
        </li>


        <li>
            2 x <a href="http://www.amazon.com/gp/product/B000XXDMDG/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000XXDMDG&linkCode=as2&tag=8gj38kd-20">
                    confectionery thermometer
                </a> (Matfer Bourgeat, France)
            <span class="note">
                I have experimented with many. These don't require calibration, are dishwasher-safe, and are easy to read because of their large graduations.
                Matfer also sell <a href="http://www.amazon.com/gp/product/B001M0NJYG/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B001M0NJYG&linkCode=as2&tag=8gj38kd-20">a clip</a> for attaching the thermometer housings to the wall of your saucepan.
            </span>
            @Image.WithLightbox("articles_nougat-de-montelimar_matfer-bourgeat-confectionery-thermometer.jpg", portraitOrientation: true)
        </li>

        <li>
            <a href="http://www.amazon.com/gp/product/B009GPJMOU/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B009GPJMOU&linkCode=as2&tag=8gj38kd-20">
                precision scale
            </a> (Hario, Japan)
            <span class="note">
                Unlike lesser kitchen scales, the Hario uses 0.5g increments and actually smoothly registers weight changes
                as you gradually stream continuous substances like glucose syrup onto the balance. I have used home digital kitchen scales that,
                while fine at measuring a single discrete object placed on them, simply aren't up to the task of continuously registering gradual weight
                changes. They would tend instead to jump up in large increments, causing me to overshoot the intended weight target. The Hario is
                intentionally built with high fidelity/granularity in mind.
            </span>
            @Image.WithLightbox("articles_nougat-de-montelimar_hario-precision-coffee-scale-japan.jpg", portraitOrientation: true)
        </li>

        <li>
            <a href="http://www.amazon.com/gp/product/B005Z2L3L8/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B005Z2L3L8&linkCode=as2&tag=8gj38kd-20">
                6-quart stand mixer
            </a> (KitchenAid, USA)
            <span class="note">
                Given the high viscosity of nougat once the sugar is added, you'll fare much better with a heavy-duty pro mixer like the
                6-quart than the lower-end KitchenAids.
            </span>
            @Image.WithLightbox("articles_nougat-de-montelimar_kitchenaid-professional-600-stand-mixer.jpg", portraitOrientation: true)
        </li>

        <li>
            <a href="http://www.amazon.com/gp/product/B000FDQVIC/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000FDQVIC&linkCode=as2&tag=8gj38kd-20">
                cutting board
            </a> (Epicurean, USA)
            <span class="note">
                These excellent cutting boards are dishwasher safe (nougat dissolves completely) but not slippery like other dishwasher-safe cutting boards,
                so the wafer paper stays in place.
            </span>
            @Image.WithLightbox("articles_nougat-de-montelimar_epicurean-cutting-board.jpg")
        </li>

        <li>
            <a href="http://www.amazon.com/gp/product/B0000DJYYD/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0000DJYYD&linkCode=as2&tag=8gj38kd-20">
                9" mezzaluna
            </a> and
            <a href="http://www.amazon.com/gp/product/B00005MEHI/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00005MEHI&linkCode=as2&tag=8gj38kd-20">
                9" serrated knife
            </a> (Wüsthof, Germany)
            <span class="note">
                The mezzaluna is for making incisions to create the long strips. The serrated knife is for cutting the long strips into smaller bite-size pieces,
                should you choose to do so.
            </span>
            @Image.WithLightbox("articles_nougat-de-montelimar_wusthof-mezzaluna-and-serrated-knife.jpg")
        </li>

        <li>
            <a href="http://www.amazon.com/gp/product/B008F6FGBE/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B008F6FGBE&linkCode=as2&tag=8gj38kd-20">
                nougat rolling pin
            </a> (Matfer Bourgeat, France)
            <span class="note">
                I would strongly advise against using a wooden rolling pin, as nougat will adhere to it immediately. This and the other
                (<a href="http://www.amazon.com/gp/product/B000KENPHQ/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000KENPHQ&linkCode=as2&tag=8gj38kd-20">nylon</a>)
                rolling pin made by Matfer have non-porous surfaces that make adhesion less likely and cleaning much easier.
            </span>
            @Image.WithLightbox("articles_nougat-de-montelimar_matfer-bourgeat-nylon-rolling-pin.jpg")
        </li>

        <li>
            <a href="http://www.amazon.com/gp/product/B000S13FVW/ref=as_li_ss_tl?ie=UTF8&amp;tag=8gj38kd-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399369&amp;creativeASIN=B000S13FVW">
                iSi bowl scraper
            </a>
            <span class="note">
                Perfect for scraping out a KitchenAid professional mixer; it precisely traces along the round contours of the bowl,
                and the pointed edge deftly pokes nougat out of the beater attachment's holes.
            </span>
            @Image.WithLightbox("articles_nougat-de-montelimar_isi-bowl-scraper.jpg")
        </li>

        <li>
            3 x heat-resistant spatulae
            @Image.WithLightbox("articles_nougat-de-montelimar_heat-resistant-spatulae.jpg")
        </li>

        <li>
            <a href="http://www.amazon.com/gp/product/B001JBLJIG/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B001JBLJIG&linkCode=as2&tag=8gj38kd-20">
                coated stand mixer beater attachment
            </a> (KitchenAid, USA)
            <span class="note">The coated version cleans more readily in the dishwasher.</span>
        </li>

        <li>
            <a href="http://www.amazon.com/gp/product/B000PJ6XGQ/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000PJ6XGQ&linkCode=as2&tag=8gj38kd-20">
                stand mixer wire whip attachment
            </a> (KitchenAid, USA)
            <span class="note">
                The 11-wire whisk I've linked to is far more efficient at quickly lofting up egg whites than the one that comes with the
                6-quart KitchenAid mixer.
            </span>
        </li>

        <li>hand wire whisk</li>

    </ul>
</section>

<section>
    <h2>Preparing your workspace</h2>
    <p>
        For precision and accuracy, this recipe (like most professional confectionery recipes) uses gram weights rather than volumetric measurements.
        You should measure out all ingredients in advance using the <a href="http://www.thekitchn.com/basic-technique-mise-en-place-77788"><i>mise en place</i></a> method
        and a precision scale (see equipment links above).
    </p>

    <p>
        It's a race against the clock as soon as the heated sugar mixture is added to the egg whites; with each passing minute the nougat becomes less pliable.
        You'll thus want to get everything lined up and in order for the tasks that come after.
    </p>

    <p>If you're using cocoa butter, it ought to be pre-melted and ready to be poured into the mixture. The microwave is an easy way to do this.</p>

    <p>You ought also to have your inclusions close at hand, kept warm in a toaster oven at around 50° (120°F)</p>

    <p>
        Your tools for working the hot nougat also need to be prepped. Nougat is very sticky—insanely so if you're opting to forgo the cocoa butter.
        Covering your hands and tools in corn starch helps keep things from getting glued inextricably together.
        Lay out one sheet of wafer paper on the cutting board, and keep the other nearby.
        @Image.WithLightbox("articles_nougat-de-montelimar_cornstarch-covered-tools.jpg")
    </p>

    <p>
        Have a bowl of cornstarch nearby for quickly re-coating things, especially your hands, in the heat of the moment. Dust your bowl scraper
        and cutting board in cornstarch also.
        @Image.WithLightbox("articles_nougat-de-montelimar_flattening-with-cornstarched-hands.jpg")
    </p>

    <p>
        You'll also want to have spatulae (in case you need to scrape down the sides of the mixer bowl) and the flat beater attachment 
        at the ready near the mixer.
    </p>

</section>

<section>
    <h2>Next step</h2>
    <p>
        If you're going sequentially through my @Html.ArticleLink("nougat curriculum", "nougat-de-montelimar-in-detail"),
        read on to the next article: @Html.ArticleLink("Theory and Variations", "nougat-de-montelimar-theory-and-variations").
    </p>
</section>