﻿@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleTitle = "<i>Nougat de Montélimar</i> in detail.";
    ViewBag.ArticleSuperTitle = "Culinary";
    ViewBag.ArticleSubTitle = "The Canonical Recipe";
    ViewBag.PageTitle = "Nougat de Montélimar: The Canonical Recipe";
    ViewBag.Recipe = true;
}    

<section>
    @Image.WithLightbox("articles_nougat-de-montelimar_nougat-batch.jpg")

    <p>
        Before attempting this recipe, you should study my full 
        @Html.ArticleLink("nougat curriculum", "nougat-de-montelimar-in-detail").
    </p>

    <p>
        Once you're very familiar
        with the techniques involved, you may find the printable
        @Html.ArticleLink("short-form recipe/cheat sheet", "nougat-de-montelimar-short-form-recipe") helpful,
        which is what I keep at hand when making nougat myself.
    </p>
</section>


<section class="ingredients">
    <h2>Ingredients</h2>
    <ul class="bulleted">

        <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            <span itemprop="amount">425g</span>
            <span itemprop="name">raw skinless (blanched) almonds</span>
            <span class="note">Swap out 125g of this (give or take) for pistachios if you like.</span>
        </li>

        <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            <span itemprop="amount">50g</span>
            <span itemprop="name">fresh egg whites</span>
        </li>

        <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            <span itemprop="amount">10g</span>
            <a href="http://www.lepicerie.com/Egg-White-Powder-AAA.html">
                <span itemprop="name">albumen powder</span>
            </a>
        </li>
        
        <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            <span itemprop="amount">30g</span>
            <span itemprop="name">granulated sugar</span>
            <span class="note">for egg whites</span>
        </li>

        <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            <span itemprop="amount">120g</span>
            <a href="http://www.lepicerie.com/Glucose-Syrup.html">
                <span itemprop="name">glucose syrup</span>
            </a>
        </li>

        <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            <span itemprop="amount">380g</span>
            <span itemprop="name">granulated sugar</span>
            <span class="note">for syrup</span>
        </li>

        <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            <span itemprop="amount">100g</span>
            <span itemprop="name">water</span>
        </li>

        <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            <span itemprop="amount">230g</span>
            <span itemprop="name">honey</span>
        </li>

        <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            <span itemprop="amount">25g</span>
            <a href="http://www.lepicerie.com/100-Cocoa-Butter.html">
                <span itemprop="name">cocoa butter</span>
            </a>, melted
            <span class="note">Optional (see @Html.ArticleLink("Theory and Variations", "nougat-de-montelimar-theory-and-variations")).</span>
        </li>

        <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            <span itemprop="amount">40g</span>
            <a href="http://www.amazon.com/gp/product/B0000W0GQQ/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0000W0GQQ&linkCode=as2&tag=8gj38kd-20">
                <span itemprop="name">vanilla bean paste</span>
            </a>
        </li>

        <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            <span itemprop="amount">100g</span>
            <span itemprop="name">confectioner's sugar (10X)</span>
            <span class="note">Optional (see @Html.ArticleLink("Theory and Variations", "nougat-de-montelimar-theory-and-variations")).</span>
        </li>

        <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            <span itemprop="name">other inclusions</span>
            <span class="note">Optional. Candied ginger or orange peel, dried cherries or cranberries, dried rose petals, etc.</span>
        </li>

        <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            <span itemprop="amount">2 sheets</span>
            <a href="http://www.lepicerie.com/Edible-Wafer-Paper.html">
                <span itemprop="name">wafer paper</span>
            </a>
        </li>

        <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient">
            <span itemprop="name">Cornstarch powder</span>
            <span class="note">as anti-stick coating for hands and tools</span>
        </li>
    </ul>
</section>

<section>
    <h2>Directions</h2>

    <p>
        Note that many of these steps occur rapidly and in parallel, so it's best to go over all the
        steps in the recipe a few times before actually attempting it. A bit of fast-footwork choreography
        is involved. If all goes well, the cooking phase should only take a few minutes.
    </p>

    <ol class="numbered" itemprop="instructions">
        <li itemprop="instruction">
            <p>
                With a hand whisk combine the 30g sugar, albumen powder, and fresh egg
                whites in mixer bowl, ensuring that any lumps have dissolved.
                @Image.WithLightbox("articles_nougat-de-montelimar_egg-ingredients-in-mixer-bowl.jpg")
            </p>

            <p>
                Fit the bowl into the mixer with its whisk attachment in place. Leave the mixture to sit while
                performing the other steps, allowing the dried albumen to re-hydrate.
                @Image.WithLightbox("articles_nougat-de-montelimar_egg-ingredients-in-mixer-bowl-combined.jpg")
            </p>
        </li>

        <li itemprop="instruction">
            <p>
                Heat oven to 180° (350° F). Spread the nuts in a single layer on a
                <a href="http://www.amazon.com/gp/product/B003YKGRMS/ref=as_li_ss_tl?ie=UTF8&amp;tag=8gj38kd-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399369&amp;creativeASIN=B003YKGRMS">
                    quarter-size baking sheet or jelly roll pan
                </a>, or the pan of a toaster oven. Roast for 12 minutes.
                <span class="note">
                    You don't want any burning or charring, but there will be a rapid and radical change in their aroma and
                    flavor when they go from being raw to ready; I'm always impressed by how definitive a tipping point there is between these two states.
                    The only way to know for sure that they are done is to cool one off and taste it. There should be no hint of rawness at all and only a
                    gentle toasted flavor. The importance of this step can't be overstated; since nougat is so subtly flavored, the taste of the almonds is
                    central to the confection. If you burn the almonds, start over.
                </span>
            </p>

            @Image.WithLightbox("articles_nougat-de-montelimar_almonds-before-roasting.jpg")

            <p>
                Leave the nuts in the oven to be kept warm at 50° (120°F).
                <span class="note">
                    This way they won't cool down the nougat too quickly when added, which means a bit
                    of extra pliability time after the warm nougat has been removed from the bowl and is being flattened out.
                </span>
            </p>

        </li>

        <li itemprop="instruction">
            <i>Mise en place</i> the other ingredients while the nuts are roasting.
            @Image.WithLightbox("articles_nougat-de-montelimar_mise-en-place.jpg")
            <span class="note">
                See @Html.ArticleLink("equipment and workspace prep", "nougat-de-montelimar-equipment-and-workspace-prep") for details, if you're
                not familiar.
            </span>
        </li>

        <li itemprop="instruction">
            Begin whipping the eggs at high speed in the stand mixer. You want somewhere between medium and
            firm peaks but not to go so far as stiff peaks. As soon as the eggs have begun whipping,
            move onto the next step. Keep an eye on the whites and only reduce the speed if they
            appear in danger of moving to stiff peaks as you perform the other steps below.
            @Image.WithLightbox("articles_nougat-de-montelimar_egg-peaks.jpg")
        </li>

        <li itemprop="instruction">
            Heat the honey on high.
            @Image.WithLightbox("articles_nougat-de-montelimar_boiling-honey.jpg")
        </li>

        <li itemprop="instruction">
            When the honey has reached 120° (with the sugar mixture still heating in parallel), remove the honey
            immediately from heat, reduce mixer speed, and slowly stream the hot honey into the whipping
            egg whites, making sure not to add them so quickly that the egg whites collapse. Return mixer to
            high speed and continue to aerate the whites thoroughly.
            @Image.WithLightbox("articles_nougat-de-montelimar_pouring-honey.jpg")
            <span class="note">
                When adding the honey, ensure that that the mixer is
                operating at slow enough a speed as to avoid the honey being primarily spattered
                against the high walls of the bowl rather than being incorporated into the egg whites.
            </span>
            @Image.WithLightbox("articles_nougat-de-montelimar_eggs-with-honey-incorporated.jpg")
        </li>

        <li>
            As the honey is whipping into the whites, begin heating the 380g sugar,
            water, and glucose syrup on high.
            @Image.WithLightbox("articles_nougat-de-montelimar_boiling-sugar.jpg")
        </li>

        <li itemprop="instruction">
            At the precise moment when the thermometer on the cooking sugar mixture registers
            135°, remove it from the heat and pour into the egg whites with the
            whisk attachment running at medium speed, as quickly as they will accept the sugar
            without collapsing (which would happen if you dumped it all in at once).
            @Image.WithLightbox("articles_nougat-de-montelimar_pouring-sugar.jpg")
            <span class="note">
                N.B. If you exceed the specified temperature, especially beyond 155°,
                your attempt is a failure and you might as well dump out the sugar mixture and try again.
                Heating to too high a temperature leads to nougat that looks fine at first but then
                after an hour or so hardens into an inedible tooth-busting brick—a sadistic
                sort of peanut brittle perversion.
            </span>
        </li>

        <li>
            After the sugar mixture has been added, whip the nougat at high speed for about three
            minutes, allowing it to cool slightly and to increase in loft/volume.
            @Image.WithLightbox("articles_nougat-de-montelimar_incorporated-sugar.jpg")
        </li>

        <li>
            Add the vanilla paste. Beat just until it has incorporated and the nougat returns to a sticky consistency similar to before the vanilla was added.
            @Image.WithLightbox("articles_nougat-de-montelimar_before-vanilla.jpg")
            <span class="note">
                As soon as you add the vanilla, the nougat will flatten and become smooth, but do not fear:
                a few moments of whipping will return it to its original state.
            </span>
            @Image.WithLightbox("articles_nougat-de-montelimar_after-vanilla.jpg")
        </li>

        <li itemprop="instruction">
            Add the cocoa butter in small increments. As the cocoa butter incorporates,
            the nougat will become very lustrous and break into many small discrete
            strands. This looks bizarre and a little unsettling, but this is precisely
            what you're looking for. A few seconds after each addition of cocoa butter,
            the material will coalesce again in a fascinating, otherworldly manner.
            <iframe src="//player.vimeo.com/video/31980331" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <span class="note">
                If the nougat doesn't return to its former texture after the cocoa butter is added, heat
                mixer bowl with a propane torch while whipping. Keep the torch constantly in motion, however, as
                a brief pause will cause the nougat on the immediate other side of the bowl to scorch.
            </span>
        </li>

        <li itemprop="instruction">
            Remove whisk and add beater attachment. Add the inclusions (almonds, etc.)
            and the confectioner's sugar. Pulse the beater attachment through the
            mixture a few times just to incorporate, something like for a single 360°
            rotation in a few tiny steps. (You want to avoid pulverizing the nuts.)
            @Image.WithLightbox("articles_nougat-de-montelimar_inclusions.jpg")
        </li>

        <li itemprop="instruction">
            Remove the bowl from the mixer.
            You should, if you're careful of the temperature of the nougat, be able to
            remove the excess candy from the wires of the whisk with your fingers
            (coated in corn starch) and/or a silicone spatula.
            @Image.WithLightbox("articles_nougat-de-montelimar_end-product-in-bowl.jpg")
        </li>

        <li itemprop="instruction">
            Moving quickly, scrape the nougat out onto the prepared wafer paper on the
            cutting board, flattening it into a sheet.
            @Image.WithLightbox("articles_nougat-de-montelimar_scooping-out-of-bowl-1.jpg", portraitOrientation: true)
            @Image.WithLightbox("articles_nougat-de-montelimar_scooping-out-of-bowl-2.jpg", portraitOrientation: true)
            @Image.WithLightbox("articles_nougat-de-montelimar_scooping-out-of-bowl-3.jpg", portraitOrientation: true)
            @Image.WithLightbox("articles_nougat-de-montelimar_scooping-out-of-bowl-4.jpg")
            @Image.WithLightbox("articles_nougat-de-montelimar_flattening-with-cornstarched-hands.jpg")
            @Image.WithLightbox("articles_nougat-de-montelimar_flattening-by-hand.jpg")
        </li>

        <li itemprop="instruction">
            <p>
                Add second sheet of wafer paper to top, gently roll it to affix to the nougat
                surface, and square off edges as best as possible, first by molding with your fingers
                and then by cutting with a knife.
            </p>
            @Image.WithLightbox("articles_nougat-de-montelimar_matfer-bourgeat-nylon-rolling-pin.jpg")
            @Image.WithLightbox("articles_nougat-de-montelimar_cutting-edges-of-nougat.jpg", portraitOrientation: true)
        </li>

        <li itemprop="instruction">
            Allow to cool and set up for at least an hour or two, or overnight.
            @Image.WithLightbox("articles_nougat-de-montelimar_nougat-setting-up.jpg")
        </li>


        <li itemprop="instruction">
            Cut the nougat as you see fit. A traditional approach is long strips divided into
            smaller bite-size chunks.
            @Image.WithLightbox("articles_nougat-de-montelimar_mezzaluna-cutting.jpg")
            @Image.WithLightbox("articles_nougat-de-montelimar_nougat-batch.jpg")
        </li>
    </ol>
</section>


<section>
    <h2>Next step</h2>
    <p>
        If you're going sequentially through my @Html.ArticleLink("nougat curriculum", "nougat-de-montelimar-in-detail"),
        read on to the next article: @Html.ArticleLink("Tips and Tricks", "nougat-de-montelimar-tips-and-tricks") to see how to make
        some of what is described above a bit more efficient once you get the hang of things.
    </p>
</section>
