﻿@using System.Web.Services.Description
@using Norbauer.RyanDotNorbauerDotCom.Helpers
@{
    ViewBag.ArticleTitle = "The Third-Wave Coffee Tour of Portland, Oregon";
    ViewBag.ArticleSuperTitle = "Notebook";
    ViewBag.ArticleSubTitle = "Travel - Guides";
}    

<section>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_water-avenue-coffee-plant.jpg", "Coffee Plant at Water Avenue")
    <p>
        Portland is filled with charming little cafés ripped from the pages of <i>Kinfolk</i>. They all serve amazing single-origin
        coffees, often as on-demand pour-overs. However, if you search online for cafés in Portland, it's not easy to discern the interesting
        ones from the random Styrofoam-cup-and-Green-Mountain operations. So I collect here my always-expanding list of worthwhile 
        spots in this capital of excellent hipster coffee.
    </p>
</section>

<section>
    <h2>Water Avenue Coffee Company</h2>
    <p class="supplemental-information-to-header">1028 SE Water Ave #145</p>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_water-avenue-window.jpg", "Water Avenue Coffee Window")

    <p>
        Purely in terms of the curation of the coffee itself, this is surely my favorite roaster in Portland. I often order whole bean bags to
        be shipped to me here in Cambridge from Water Avenue rather than get beans from our rather less inspired Massachusetts local roasters. I have
        particularly enjoyed their Oak-aged Sumatra and their various Ethiopian roasts.
    </p>

    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_water-avenue-whole-bean-coffee-bags.jpg", "Water Avenue Coffee Whole Bean Coffee Bags")

    <p>The pastries here are also particularly excellent.</p>
    <figure>
        @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_water-avenue-coffee-cup.jpg", "Water Avenue Coffee Cup")
        <figcaption>These cool mugs are called <a ref="http://www.notneutral.com/coffee/lino">Lino</a> and are made by Not Neutral.</figcaption>
    </figure>

</section>

<section>
    <h2>Coava Coffee Roasters</h2>
    <p class="supplemental-information-to-header">1300 SE Grand Ave. </p>
    <p>
        This quirky venue roasts coffee that makes it frequently as a guest roaster at one of my favorite cafés in Cambridge (<a href="http://www.cremacambridge.com/">Crema</a>).
        Apparently they share the space with some kind of surfboard atelier, which accounts for the unusual tables.
    </p>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_coava-water.jpg", "Coava Coffee water table")
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_coava-coffee-cup.jpg", "Coava Coffee surfboard table")
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_coava-counter.jpg", "Coava Coffee counter", portraitOrientation: true)
</section>

<section>
    <h2>Clive Coffee</h2>
    <p class="supplemental-information-to-header">79 SE Taylor St</p>
    <p>
        Purveyor of coffee-making implements, with a particular emphasis on home espresso and visual aesthetics. The owner Mark Hellweg is quite friendly
        and knowledgeable—definitely worth tracking him down for a chat if he's in the store while you're there.
    </p>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_clive-coffee-sign.jpg", "Clive Coffee sign", portraitOrientation: true)
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_clive-coffee-cups.jpg", "Clive Coffee cups")
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_clive-coffee-product-table.jpg", "Clive Cofee product table")
</section>

<section>
    <h2>Stumptown Coffee Roasters (at the Ace Hotel)</h2>
    <p class="supplemental-information-to-header">1026 SW Stark</p>
    <p>
        This is one of the firms to have started the whole <a href="http://en.wikipedia.org/wiki/Third_Wave_Coffee">Third Wave Coffee movement</a>, as it were.
        Stumptown is probably considered somewhat unfashionable now that it has become so mainstream, but don't let that stop you. The baristas here are also
        especially chatty and friendly, which was a pleasant surprise (I was expecting haughty pretense, which is closer to what I encountered at the one in Manhattan.)
        I love the design of the interior space—and the lobby it shares with the lovely Ace Hotel.
    </p>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_stumptown-window.jpg", "Stumptown Coffee at the Ace Hotel Window")
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_stumptown-interior.jpg", "Stumptown at the Ace Hotel Interior")
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_stumptown-chemex.jpg", "Stumptown at the Ace Hotel Chemeces")
</section>

<section>
    <h2>Coffeehouse Northwest (Sterling Coffee Roasters)</h2>
    <p class="supplemental-information-to-header">1951 W Burnside</p>
    <p>This slightly more ramshackle café has top-notch roasts, and it makes for an excellent way point on the pilgrimage up to the numinous Portland Japanese Garden.</p>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_northwest-front-door.jpg", "Northwest Coffee Front Door")
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_northwest-coffee-cup.jpg", "Northwest Coffee Cup with Flowers")
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_northwest-chandelier.jpg", "Northwest Coffee Chandelier")
</section>

<section>
    <h2>Barista - Pearl District</h2>
    <p class="supplemental-information-to-header">539 NW 13th Avenue</p>
    <p>
        This small café with guest roasters and elite baristas has seating flowing into the common hallway of the building that hosts it.
        Be sure to stop by the enormous Asian curiosities store <a href="http://www.cargoimportspdx.com/">Cargo</a> across the street after
        you have been appropriately caffeinated.
    </p>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_barista-pearl-window.jpg", "Barista Pearl District Window")
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_barista-pearl-cup.jpg", "Barista Pearl District Cup")
</section>

<section>
    <h2>Barista - Downtown</h2>
    <p class="supplemental-information-to-header">529 SW 3rd Ave</p>
    <p>This tiny shop has a lovely interior and super friendly baristas who know their stuff.</p>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_barista-downtown-floor.jpg", "Barista Downtown Floor")
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_barista-downtown-coffee-cup.jpg", "Barista Downtown Coffee Cup", portraitOrientation: true)
</section>

<section>
    <h2>Voodoo Doughnut</h2>
    <p class="supplemental-information-to-header">22 SW 3rd Avenue</p>
    <p>Not per se a café, I'll concede, but a fine accompaniment to a cup of coffee. Be sure to try the blueberry cake variety. Cash only, open 24/7.</p>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_vodoo-doughnut-sign.jpg", "Voodoo Doughnut Sign", portraitOrientation: true)
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_vodoo-doughnut-racks.jpg", "Voodoo Doughnut Racks")
</section>

<section>
    <h2>Courier Coffee</h2>
    <p class="supplemental-information-to-header">923 SW Oak</p>
    <p>This place is just down the street from Powell's, but the farcical brevity of its hours has precluded me from ever visiting. Hopefully next time; I'll report back.</p>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_courier-coffee-closed.jpg", "Courier Coffee closed", portraitOrientation: true)
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_courier-coffee-sign.jpg", "Courier Coffee sign")
</section>

<section>
    <h2>World Cup Roasters</h2>
    <p class="supplemental-information-to-header">1005 W Burnside </p>
    <p>The coffee isn't particularly good or interesting, but it's in Powell's, which is a major compensation. (Note the comprehensive taxonomy of Star Trek fiction and scholarship.)</p>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_world-cup-roasters.jpg")
    <p>Be also sure to check out Powell's Building #2, which houses a stultifying array of technical and other nerd-centric texts.</p>
</section>

<section>
    <h2>Oui Presse</h2>
    <p class="supplemental-information-to-header">1740 SE Hawthorne Blvd</p>
    <p>
        This francophillic café endearingly calls its machiatti <i>noisettes</i>, which is the only time I've heard them called that outside of France. They also 
        stock a wide array of hipster aesthete magazines.
    </p>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_oui-presse-sign.jpg", "Oui Presse Sign")
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_oui-presse-noisette.jpg", "Oui Presse Noisette")
    <p>Apparently, ice cream is also on offer.</p>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_oui-presse-glaces.jpg")
</section>

<section>
    <h2>Heart Roasters</h2>
    <p class="supplemental-information-to-header">2211 E Burnside</p>
    <p>This is one of the swankier cafés in town. I love the way they ostentatiously serve their pour-overs in Chemeces (lulz).</p>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_heart-chemex.jpg", "Heart Roasters Chemex", portraitOrientation: true)
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_heart-roaster.jpg", "Heart Roasters machine", portraitOrientation: true)
    <p>Oh, and that mint-green custom powder-coated Marzocco!</p>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_heart-marzocco.jpg", "Heart Roasters Marzocco machine", portraitOrientation: true)
</section>

<section>
    <h2>Ristretto Roasters</h2>
    <p class="supplemental-information-to-header">2181 NW Nicolai</p>
    <p>
        This tiny café is located in the entryway to the awesome Schoolhouse Electric factory. Being hot and sweaty
        after having to huff my way to their far-flung location by bike, I enjoyed an excellent cold brew here.
    </p>
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_ristretto-roasters-at-schoolhouse-electric.jpg")
    @Image.WithLightbox("articles_third-wave-coffee-tour-of-portland-oregon_schoolhouse-electric.jpg")
</section>