﻿// http://meyerweb.com/eric/tools/css/reset/

* {
	margin: 0;
	padding: 0;
	border: none;
    font-size: 100%; // this means 100% of the browser default, which e.g. is 16px in Chrome desktop.
    font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}